<div class="modal fade token_modal" id="token-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= simple_form_for(@transaction, method: :post, url: clinic_transactions_path(@clinic)) do |f| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <h2>Enter the number of patients you'd like to assist</h2>
          <div class="form-group">
            <label>Number of Patients</label>
            <%= f.input :number_of_patients, label: false, input_html: { class: 'form-control', placeholder: "Enter number of patients", id: "patients-number",  min: 1 } %>
          </div>
          <div class="form-group">
            <label>Number of Tokens Required</label>
            <%= f.input :number_of_tokens, label: false, input_html: { class: 'form-control disabled', placeholder: "Enter number of tokens", id: "tokens-number", min: 0 } %>
          </div>
          <%= f.hidden_field :clinic_id, value: @clinic.id %>
          <%= f.hidden_field :tx_hash %>
        </div>
        <div class="modal-footer">
          <div class="purchase-btn">
            <%= f.submit "Confirm Purchase", class: "purchase-submit" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function(){
    $("#patients-number").on('change', function(){
      let patient = parseInt($(this).val())
      $("#tokens-number").val(patient * 2);
    })
  })
</script>
