<div id="content">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Choose from the following Projects / Charities</h2>
  </div>

  <div class="col-md-7 col-sm-12 col-xs-12 pad-none resp-pad">
    <div class="charity-block">
      <ul>
        <% @clinics.each do |clinic| %>
          <li>
            <%= link_to clinic_path(clinic) do %>
              <%= image_tag('charity-icon.png') %>
              <%= clinic.fullname %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div> <!-- charity Block -->
  </div>

</div>
