<div id="content">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="row row-margin">
    <div class="heading step-heading col-md-5 col-sm-5 col-xs-12">
      <h2>Patient Outcomes List</h2>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12 text-right pull-right resp-pad">
      <div class="col-md-12 col-sm-12 col-xs-12 pad-none resp-pad">
        <div class="clinic-block">
          <div class="clinic-blk list-ul">
            <div class="inner-div">
              <a>
                <ul class="clinic-ul">
                  <li><%= image_tag('clinic-icon.png') %></li>
                  <li><span class="strong-text"><%= @transaction_data[:tokens] %></span> tokens</li>
                  <li class="border-right"></li>
                  <li><span class="strong-text"><%= @transaction_data[:patients] %></span> Patients</li>
                </ul>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="patient-list table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Patient ID</th>
          <th>Lab Results Delivered</th>
          <th>Medication Prescribed</th>
        </tr>
      </thead>
      <tbody>
        <% @patients.each do |patient| %>
          <tr>
            <td><%= patient.uid %></td>
            <td><%= patient.lab_result_available %></td>
            <td><%= patient.medication_prescribed %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @patients %>
</div>
