<div id="content">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="alert alert-success transaction-toggle transaction-alert">
    Requested transaction for tokens is in progress...
  </div>
  <div class="alert alert-success p-transaction-toggle p-transaction-alert">
    Requested transaction for patients is in progress...
  </div>
  <div class="back-btn">
    <%= link_to clinics_path do %>
      <%= image_tag('back-icon.png') %>
      <span>BACK</span>
    <% end %>
    <div class="pull-right">Available Tokens : <span class="balance"></span> Tokens
      <div class="btn btn-primary add-tokens">Add Tokens</div>
    </div>
  </div>
  <div class="heading step-heading">
    <h3>
      <%= @clinic.fullname %>
      <span class="pull-right">Total Patients Available : <%= available_patients(@clinic) %></span>
    </h3>
    <p>Choose the number of patient records you can see</p>
  </div>

  <div class="col-md-7 col-sm-12 col-xs-12 pad-none resp-pad">
    <div class="clinic-block">
      <div class="clinic-blk">
        <div class="inner-div">
          <ul class="clinic-ul">
            <li class="pull-left">
              <span class="strong-text"><%= patients_outcomes_status(@clinic, "COMPLETED") %></span>
              Patients
            </li>
            <li class="outcome-btn pull-right">
              <% path = patients_outcomes_status(@clinic, "COMPLETED") > 0 ? outcomes_clinic_path(@clinic.id) : 'javascript:void(0)'%>
              <%= link_to "View Outcomes", path %>
            </li>
          </ul>
        </div>
        <div class="inner-div">
          <a href="javascript:void(0);" class="token-patients" data-tokens="10" data-patients="5">
            <ul class="clinic-ul">
              <li><%= image_tag('clinic-icon.png') %></li>
              <li><span class="strong-text">10</span> tokens</li>
              <li class="border-right"></li>
              <li><span class="strong-text">5</span> Patients</li>
            </ul>
          </a>
        </div>
        <div class="inner-div">
          <a href="javascript:void(0);" class="token-patients" data-tokens="20" data-patients="10">
            <ul class="clinic-ul">
              <li><%= image_tag('clinic-icon.png') %></li>
              <li><span class="strong-text">20</span> tokens</li>
              <li class="border-right"></li>
              <li><span class="strong-text">10</span> Patients</li>
            </ul>
          </a>
        </div>
        <div class="inner-div">
          <a href="javascript:void(0);" class="token-patients" data-tokens="50" data-patients="25">
            <ul class="clinic-ul">
              <li><%= image_tag('clinic-icon.png') %></li>
              <li><span class="strong-text">50</span> tokens</li>
              <li class="border-right"></li>
              <li><span class="strong-text">25</span> Patients</li>
            </ul>
          </a>
        </div>
      </div>
    </div> <!-- charity Block -->
    <div class="clearfix"></div>

    <div class="or-section">
      <div class="or">
        <span>OR</span>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="click-btn">
      <a href="javascript:void(0);" data-toggle="modal" data-target="#token-modal" data-tokens="" data-patients="">Click here to choose</a>
    </div>
  </div>
</div>
<%= render partial: 'confirm_purchase' %>
<script type="text/javascript">
  $(document).ready(function(){
    if(parseInt("<%= @transaction_count %>") > 0){
      $('.transaction-alert').removeClass('transaction-toggle');
    }

    if(parseInt("<%= patients_outcomes_status(@clinic, "PENDING") %>") > 0){
      $('.p-transaction-alert').removeClass('p-transaction-toggle');
    }

    function purchaseDialog(){
      BootstrapDialog.show({
        title: "Add Kinect Token",
        message: "You don't have much tokens in your wallet. please add more tokens in your wallet. <br/> <input type='number' class='form-control' id='token-input' min='1' required> <br> <span class='error' style='display: none;'>Atleast 1 token is required.</span>",
        closeByBackdrop: false,
        buttons: [{
            label: 'Add Tokens',
            action: function(dialog) {
              const kinectContractAbi = gon.contract_abi;
              const kinectContract = web3.eth.contract(kinectContractAbi);
              const kinectContractInstance = kinectContract.at(gon.contract_addresss);
              const account = web3.eth.accounts[0];
              const token = $('#token-input').val()
              if(parseInt(token) > 0) {
                $('.error').hide()
                $.ajax({
                  method: "POST",
                  url: "<%= add_tokens_users_path %>",
                  data: { walletAddress: account, token: parseInt(token) }
                }).done(function( data ) {
                  if($('.transaction-alert').hasClass('transaction-toggle')){
                    $('.transaction-alert').removeClass('transaction-toggle');
                  }
                });
                dialog.close();
              } else {
                $('.error').show()
              }
            }
        }, {
            label: 'Cancel',
            action: function(dialog) {
                dialog.close();
            }
        }]
      });
    }

    if (checkMetamaskWeb3()) {
      const kinectContractAbi = gon.contract_abi;
      const kinectContract = web3.eth.contract(kinectContractAbi);
      const kinectAddress = gon.contract_addresss;
      const kinectContractInstance = kinectContract.at(kinectAddress);
      const account = web3.eth.accounts[0];
      kinectContractInstance.balanceOf(account, (err, res2) => {
        let obj = err ? null : { balance: res2.toNumber() };
        let balance = obj.balance/1e18
        $('.balance').text(balance);
      });

      $('.token-patients').click(function(){
        kinectContractInstance.balanceOf(account, (err, res2) => {
          let obj = err ? null : { balance: res2.toNumber() };
          let no_tokens = $(this).attr("data-tokens");
          let no_patients = $(this).attr("data-patients")
          let balance = obj.balance/1e18
          if(parseInt(balance) >= parseInt(no_tokens)){
            $("#tokens-number")[0].value = no_tokens;
            $("#patients-number")[0].value = no_patients;
            $('#token-modal').modal('toggle');
          } else {
            purchaseDialog();
          }
        });
      })
      $('.purchase-submit').click(function(e){
        e.preventDefault();
        let available_patients = parseInt("<%= available_patients(@clinic) %>")
        let requested_patients = parseInt($("#patients-number").val())
        if(requested_patients <= available_patients){
          kinectContractInstance.balanceOf(account, (err, res2) => {
            let obj = err ? null : { balance: res2.toNumber() };
            let no_tokens = $("#tokens-number").val();
            let balance = obj.balance/1e18
            if(parseInt(balance) >= parseInt(no_tokens)){
              const kinectContractAbi = gon.contract_abi;
              const kinectContract = web3.eth.contract(kinectContractAbi);
              const kinectContractInstance = kinectContract.at(gon.contract_addresss);
              const account = web3.eth.accounts[0];
              const currentGasPrice = 1 * (10**9)
              kinectContractInstance.transfer(gon.contract_addresss, parseInt(no_tokens)*1e18, { from: account, gasPrice: web3.toHex(currentGasPrice) }, (err, res2) => {
                  if(!err){
                    $('#transaction_tx_hash').val(res2)
                    var form = $("#new_transaction")
                    var datastring = form.serialize();
                    var url = form[0].action.split("<%= root_url %>")[1]
                    $.ajax({
                      type: form[0].method,
                      url: "/"+url,
                      data: datastring,
                      success: function(data) {
                        $('#token-modal').modal('toggle');
                        if($('.p-transaction-alert').hasClass('p-transaction-toggle')){
                          $('.p-transaction-alert').removeClass('p-transaction-toggle');
                        }
                      }
                    });
                  } else {
                    $('#token-modal').modal('toggle');
                  }
              })
            } else {
              purchaseDialog();
              $('#token-modal').modal('toggle');
            }
          });
        } else {
          $('#token-modal').modal('toggle');
          toastr.warning("Requested no. of patients are not available");
        }
      })

      $('.add-tokens').on('click', function(){
        purchaseDialog();
      });
    }

    App.transactions = App.cable.subscriptions.create({
        channel: "TransactionsChannel",
        user_id: "<%= current_user.id %>"
      },
      {
        received: function(data) {
          let overview = data.overview
          if(typeof overview != 'undefined'){
            location.reload();
          }
          let transaction = data.transaction
          if(typeof transaction != 'undefined'){
            location.reload();
          }
        }
      }
    )
  })
</script>
