<!-- Page Content Holder -->
<div id="content" class="dashboard-block">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Dashboard</h2>
  </div>
  <div class="main-block">
    <div class="patient-blocks">
      <% unless current_user.clinic? %>
        <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
          <%= link_to (current_user.lab? ? laboratory_patients_path : patients_path) do %>
            <div class="existing-patient blocks">
              <span class="patient-icons">
                <%= image_tag 'existing-patient.png' %>
              </span>
              <span>Existing Patient <br> Consultation</span>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if can? :create, Patient %>
        <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
          <%= link_to new_patient_path do %>
            <div class="new-patient blocks">
              <span class="patient-icons">
                <%= image_tag 'new-patient.png' %>
              </span>
              <span>New Patient <br> Consultation</span>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if can? :manage, User %>
        <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
          <%= link_to healthcare_professionals_path do %>
            <div class="healthcare blocks">
              <span class="patient-icons">
                <%= image_tag 'healthcare.png' %>
              </span>
              <span>Healthcare <br> Professionals Listing</span>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if can? :create, User %>
        <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
          <%= link_to new_healthcare_professional_path do %>
            <div class="healthcare blocks">
              <span class="patient-icons">
                <%= image_tag 'healthcare.png' %>
              </span>
              <span>Healthcare <br> Professionals Setup</span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div class="dashboard-image">
      <%= image_tag 'dashboard.png' %>
    </div>
  </div>
</div>
