<div id="content">
  <h2 class="welcome">Edit <%= resource_name.to_s.humanize %></h2>
  <div class="login-block main-block">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <div class="password-block">
        <div class="form-group">
          <div class="form-group">
            <%= f.input :email, required: true, input_html: { class: 'form-control' }, disabled: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="form-group">
            <%= f.input :password, autocomplete: "off", hint: "Minimum 6 characters, leave it blank if you don't want to change it.", input_html: { class: 'form-control', placeholder: "Password" }, required: false %>
          </div>
        </div>

        <div class="form-group">
          <%= f.input :password_confirmation, autocomplete: "off", input_html: { class: 'form-control', placeholder: "Confirm password" }, required: false %>
        </div>
        <div class="form-group">
          <%= f.input :current_password, hint: "We need your current password to confirm your changes.", input_html: { class: 'form-control', placeholder: "Current password" }, required: true %>
        </div>

        <div class="actions change-password">
          <%= link_to "Back", root_path, class: "btn btn-primary" %>
          <%= f.button :submit, "Update", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
