<script>
  $(document).ready(function(){
    "<% flash.each do |type, message| %>"
      "<% if type.eql?('notice') %>"
        toastr.success("<%= message %>");
      "<% end %>"
      "<% if type.eql?('alert') %>"
        toastr.warning("<%= message %>");
      "<% end %>"
    "<% end %>"

  });
</script>
