<header>
  <div class="logo col-md-3 col-sm-3">
    <%= link_to image_tag('logo.png'), current_user ? root_path : patient_path(current_patient) %>
  </div>
  <ul class="user-dropdown col-md-9 col-sm-9 pull-right text-right">
    <%# <li class="help">
      <a href="">Help <span class="glyphicon glyphicon-bell"></span></a>
    </li> %>
    <li class="dropdown">
      <a data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-angle-down"></i>
        <% user = current_user || current_patient %>
        <%= user.fullname %>
      </a>

      <ul class="dropdown-menu logout-btn" aria-labelledby="dLabel">
        <li class="logout-li">
          <%= link_to('Change Password', current_patient.present? ? edit_patient_registration_path : edit_user_registration_path) %>
        </li>
        <li class="logout-li">
          <%= link_to('Logout', current_user.present? ? destroy_user_session_path : destroy_patient_session_path , method: :delete) %>
        </li>
      </ul>
    </li>
  </ul>
</header>
