<!-- Sidebar Holder -->
<nav id="sidebar">
  <ul class="list-unstyled components">
    <% kinectnow = (controller_name == "transactions" && action_name == "index") %>
    <li class="<%= kinectnow ? 'active' : '' %>">
      <a href="#kinectnow" data-toggle="collapse" aria-expanded="<%= kinectnow %>">KinectNow</a>
      <ul class="collapse list-unstyled <%= kinectnow ? 'in' : '' %>" id="kinectnow">
        <li class="<%= kinectnow ? 'active' : '' %>">
          <%= link_to transactions_path do %>
            <span class="transaction-icon menu-icons"></span>
            <span class="menu-name">Transactions</span>
          <% end %>
        </li>
        <!--
          <li>
            <a href="javascript:void(0);">
              <span class="withdraw-icon menu-icons"></span>
              <span class="menu-name">Withdraw</span>
            </a>
          </li>
        -->
      </ul>
    </li>
    <% if current_user.aid? %>
      <li class="<%= @clinics || @patients ? 'active' : ''%>">
        <!-- <a href="/clinics" data-toggle="collapse" aria-expanded="true">KinectAID</a> -->
        <%= link_to "KinectAID", clinics_path %>
      </li>
    <% end %>

    <% if !current_user.aid? %>
      <% kinecthuman = (controller_name == "dashboard" && action_name == "index") %>
      <li class="<%= kinecthuman ? 'active' : ''%>">
        <a href="#kinecthuman" data-toggle="collapse" aria-expanded="<%= kinecthuman %>"> KinectHUMAN</a>
        <ul class="collapse list-unstyled <%= kinecthuman ? 'in' : '' %>" id="kinecthuman">
          <li class="<%= kinecthuman ? 'active' : '' %>">
            <%= link_to root_path do %>
              <span class="dashboard-icon menu-icons"></span>
              <span class="menu-name">Dashboard</span>
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>
