<div id="content" class="exist-block">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Existing Patient Consultation</h2>
  </div>

  <div class="patient-form">
    <%= form_tag(laboratory_patients_path, method: :get) do %>
      <ul>
        <li class="lab-patients">
          <%= text_field_tag :patient_id, params[:patient_id], class: "form-control", placeholder: "Patient ID" %>
        </li>
        <li class="lab-patients">
          <%= text_field_tag :patient_name, params[:patient_name], class: "form-control", placeholder: "Patient Name" %>
        </li>
        <li class="lab-patients">
          <%= text_field_tag :doctor_name, params[:doctor_name], class: "form-control", placeholder: "Doctor Name" %>
        </li>
        <li class="lab-patients">
          <%= text_field_tag :assessment_date, params[:assessment_date], class: "form-control datepicker", placeholder: "Date of Assessment" %>
        </li>
        <li class="search-button lab-patients">
          <%= submit_tag 'Search', class: "btn btn-primary search-btn" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="existing-table">
     <table class="table table-hover footable">
      <thead>
        <tr>
          <th>Patient ID </th>
          <th>Patient name</th>
          <th>Doctor name</th>
          <th>Date of Assessment</th>
          <th>Lab Result</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @laboratory_requests.each do |request| %>
          <% consultation = request.consultation %>
          <% patient = consultation.patient %>
          <tr>
            <td><%= patient.uid %></td>
            <td><%= patient.fullname %></td>
            <td><%= consultation.user_fullname %></td>
            <td><%= consultation.assessment_date || '-' %></td>
            <td><%= request.completed ? "Completed" : "Not Completed" %></td>
            <td><%= link_to "VIEW DETAILS", patient_consultation_path(patient, consultation), class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- existing table -->
  <%= paginate @laboratory_requests %>
</div>

<script type="text/javascript">
  $('.footable').footable({
    calculateWidthOverride: function() {
      return { width: $(window).width() };
    }
  });

  $('#assessment_date').datepicker({
    autoclose: true,
    todayHighlight: true,
    format: 'yyyy-mm-dd'
  })
</script>
