<table class="table table-hover footable">
  <thead>
    <tr>
      <th> ID </th>
      <th data-hide="phone">Doctor Name</th>
      <th data-hide="phone">Date of Assessment</th>
      <th data-hide="phone">Lab Result</th>
      <th data-hide="phone">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @consultations.each_with_index do |consultation, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= consultation.user_fullname %></td>
        <td><%= consultation.assessment_date %></td>
        <td><%= consultation.completed ? "Completed" : "Not Completed" %></td>
        <td><%= link_to "VIEW DETAILS", patient_consultation_path(consultation.patient, consultation), class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

