<div class="modal fade token_modal" id="new-consultation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <%= form_tag(patient_consultations_path(@patient), method: :post, id: "new_consultation") do %>
        <div class="modal-body">
          <h2>Create new consultation</h2>
            <div class="form-group">
              <%= text_field_tag :patient_fullname, '', value: @patient.fullname, class: "form-control", placeholder: "Patient ID", disabled: true %>
            </div>
            <div class="form-group">
              <%= select_tag('doctor_id', options_for_select(all_healthcare_professionals.collect{ |u| [u.fullname, u.id]}), prompt: "Select Doctor", class: 'form-control doctorid required') %>
            </div>
            <div class="form-group">
              <%= text_field_tag :assessment_date, params[:assessment_date], class: "form-control datepicker", placeholder: "Date of Assessment", "data-date-format": "dd-mm-yyyy" %>
            </div>
        </div>
        <div class="modal-footer">
          <div class="purchase-btn">
            <%= submit_tag 'Create Consultation', class: "btn btn-primary search-btn" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#new_consultation").validate({
      rules: {
        "doctor_id": { required: true },
        "assessment_date": { required: true}
      }
    });
  });
</script>
