<!-- Start Diagnosis Form -->
<%= simple_form_for [@patient, @consultation, @diagnosis], remote: true, html: { id: 'diagnosis_form', class: "form-group" } do |f| %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= render partial: 'consultations/tb/tb_diagnosis', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_diagnosis', locals: {f: f} %>
  <div class="button-block">
    <button class="btn cancel-btn previous-tab">Previous</button>
    <%= f.submit "Save & Next", class: "btn btn-primary submit-btn next-tab", "data-id": "diagnosis_form" %>
  </div>
<% end %>
