<%= simple_form_for [@patient, @consultation, @examination], html: { id: "examination_form", class: "form-group" } do |f| %>
  <%= render partial: 'consultations/tb/tb_examination', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_examination', locals: {f: f} %>
  <div class="button-block">
    <button class="btn cancel-btn previous-tab">Previous</button>
    <%= f.submit "Save & Next", class: "btn btn-primary submit-btn next-tab", "data-id": "examination_form" %>
  </div>
<% end %>

<script>
  $(document).ready(function(){
    $('.systolic').on('change', function(){
      var systolic = $("#examination_blood_pressure_systolic").val();
      systolic = systolic != "" ? JSON.parse(systolic) : {}
      if(this.id.includes('sitting')){
        systolic['sitting'] = $(this).val();
      } else if(this.id.includes('standing')){
        systolic['standing'] = $(this).val();
      } else if(this.id.includes('laying')){
        systolic['laying'] = $(this).val();
      }
      $("#examination_blood_pressure_systolic").val(JSON.stringify(systolic));
    });
    $('.diastolic').on('change', function(){
      var diastolic = $("#examination_blood_pressure_diastolic").val();
      diastolic = diastolic != "" ? JSON.parse(diastolic) : {}
      if(this.id.includes('sitting')){
        diastolic['sitting'] = $(this).val();
      } else if(this.id.includes('standing')){
        diastolic['standing'] = $(this).val();
      } else if(this.id.includes('laying')){
        diastolic['laying'] = $(this).val();
      }
      $("#examination_blood_pressure_diastolic").val(JSON.stringify(diastolic));
    });
    function enable_disable(field) {
      $('.'+field+'-diagram-available').on('change', function(){
        if($(this).val() == "true"){
          $('#examination_'+field+'_diagram_storage_location').removeAttr('disabled');
        } else {
          $('#examination_'+field+'_diagram_storage_location').val("")
          $('#examination_'+field+'_diagram_storage_location').attr('disabled', 'disabled')
        }
      })
    }
    $('.photo-available').on('change', function(){
      if($(this).val() == "true"){
        $('#examination_photo_storage_location').removeAttr('disabled');
      } else {
        $('#examination_photo_storage_location').val("")
        $('#examination_photo_storage_location').attr('disabled', 'disabled')
      }
    })

    enable_disable('lung')
    enable_disable('abdomen')
    enable_disable('body')
    $('.photo-available').change();
  })
</script>
