<!-- Start General Form -->
<%= simple_form_for [@patient, @consultation, @general_note], html: { id: 'general_note_form', class: "form-group" } do |f| %>
  <div class="main-block">
    <div class="treatment-heading">
      <%= f.label :general_note, "General Notes" %>
    </div>
    <div class="clearfix"></div>
    <div class="treatment">
      <div class="treatment-form">
        <div class="form-group col-md-9 col-sm-12 col-xs-12 pad-none resp-pad">
          <%= f.text_area :note, as: :text, label: false, class: "form-control", placeholder: "Enter General Notes" %>
        </div>
      </div>
    </div>
</div> <!-- main-block -->
<div class="button-block">
  <button class="btn cancel-btn previous-tab">Previous</button>
  <%= f.submit "Submit", class: "btn btn-primary submit-btn next-tab", "data-id": 'general_note_form' %>
</div>
<% end %>
<!-- End General Form -->
