<%= simple_form_for [@patient, @consultation, @history], html: { id: 'history-create', class: 'hiv_history_form' } do |f| %>
  <%= render partial: 'consultations/tb/tb_history', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_history', locals: {f: f} %>
  <div class="button-block">
    <%= f.submit "Save & Next", class: 'btn btn-primary submit-btn next-tab', "data-id": "history-create" %>
  </div> <!-- button block -->
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#history_number_of_sexual_partners_last_6_months").attr('disabled', 'disabled')
    $("#history_number_of_sexual_partners_last_12_months").attr('disabled', 'disabled')
    $('.multiple_partners').on('change', function(){
      if($(this).val() == "true"){
        $("#history_number_of_sexual_partners_last_6_months").removeAttr('disabled');
        $("#history_number_of_sexual_partners_last_12_months").removeAttr('disabled');
      } else {
        $("#history_number_of_sexual_partners_last_6_months").val("")
        $("#history_number_of_sexual_partners_last_12_months").val("")
        $("#history_number_of_sexual_partners_last_6_months").attr('disabled', 'disabled')
        $("#history_number_of_sexual_partners_last_12_months").attr('disabled', 'disabled')
      }
    })
  })
</script>
