<%= simple_form_for [@patient, @consultation, @laboratory_request], html: { id: 'lab_request_form' } do |f| %>
  <%= render partial: 'consultations/tb/tb_laboratory_request', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_laboratory_request', locals: {f: f} %>
  <div class="button-block">
    <button class="btn cancel-btn previous-tab">Previous</button>
    <%= f.submit "Save & Next", class: "btn btn-primary submit-btn next-tab", "data-id": 'lab_request_form' %>
  </div> <!-- button block -->
<% end %>
