<%= simple_form_for [@patient, @consultation, @laboratory_result], html: { id: 'lab_result_form' } do |f| %>
  <%= render partial: 'consultations/tb/tb_laboratory_result', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_laboratory_result', locals: {f: f} %>
  <% button_name = current_user.lab? ? "Submit" : "Save & Next" %>
  <% if current_user.lab? %>
    <div class="button-block">
      <%= f.submit button_name, class: "btn btn-primary submit-btn next-tab", "data-id": "lab_result_form" %>
    </div>
  <% end %>
  <% unless current_user.lab? %>
    <div class="button-block">
      <button class="btn cancel-btn previous-tab">Previous</button>
      <%= f.submit "Save & Next", class: "btn btn-primary submit-btn next-tab", "data-id": 'lab_result_form' %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $(".lab-datepicker").datepicker({
      autoclose: true,
      todayHighlight: true
    })

    function labResult(field) {
      $('.'+field+'-value').on('change', function(){
        var data = $("#laboratory_result_"+field).val();
        data = data != "" ? JSON.parse(data) : {}
        if(this.id.includes('result')){
          data['result'] = $(this).val();
        } else if(this.id.includes('limit')){
          data['upper_limit'] = $(this).val();
        }
        $("#laboratory_result_"+field).val(JSON.stringify(data));
      });
    }

    function labResultImaging(field) {
      $('.'+field+'-value').on('change', function(){
        var data = $("#laboratory_result_"+field).val();
        data = data != "" ? JSON.parse(data) : {}
        if(this.id.includes('result')){
          data['result'] = $(this).val();
        } else if(this.id.includes('date')){
          data['date'] = $(this).val();
        }

        $("#laboratory_result_"+field).val(JSON.stringify(data));
      });
    }
    labResult('rcc');
    labResult('wcc');
    labResult('esr');
    labResult('crp');
    labResult('inr');
    labResult('alt_sgpt');
    labResult('ast_sgot');
    labResult('billrubin');
    labResult('albumin');
    labResultImaging('hepatomegaly');
    labResultImaging('cirrhosis');
    labResultImaging('splenic_enlargement');
    labResultImaging('ascites');
    labResultImaging('abnormal_blood_flow');
  });
</script>
