<%= simple_form_for [@patient, @consultation, @treatment], html: { id: 'treatment_form' } do |f| %>
  <%= render partial: 'consultations/tb/tb_treatment', locals: {f: f} %>
  <%= render partial: 'consultations/hiv/hiv_treatment', locals: {f: f} %>
  <div class="button-block">
    <button class="btn cancel-btn previous-tab">Previous</button>
    <%= f.submit "Save & Next", class: "btn btn-primary submit-btn next-tab", "data-id": 'treatment_form' %>
  </div>
<% end %>
