<div id="content" class="exist-block">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2><%= @patient.fullname %>'s Consultations
      <button data-toggle="modal" data-target="#new-consultation-modal" class="btn btn-primary search-btn pull-right">Create Consultation</button>
    </h2>
  </div>

  <div class="patient-form">
    <%= form_tag(patient_consultations_path(@patient.id), method: :get) do %>
      <ul>
        <li>
          <%= text_field_tag :doctor_name, params[:doctor_name], class: "form-control", placeholder: "Doctor Name" %>
        </li>
        <li>
          <%= text_field_tag :assessment_date, params[:assessment_date], class: "form-control datepicker", placeholder: "Date of Assessment", "data-date-format": "dd-mm-yyyy" %>
        </li>
        <li class="search-button">
          <%= submit_tag 'Search', class: "btn btn-primary search-btn" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="existing-table" id="existing_consultations">
    <%= render partial: 'consultations_list' %>
  </div> <!-- existing table -->
  <%= paginate @consultations %>
</div>
<%= render partial: 'create_consultation' %>

<script type="text/javascript">
  $('.footable').footable({
    calculateWidthOverride: function() {
      return { width: $(window).width() };
    }
  });

  $('.datepicker').datepicker({
    autoclose: true,
    todayHighlight: true
  })
</script>
