<div id="content" class="history-content">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <div class="col-md-4 col-sm-5 col-xs-12 pad-left resp-pad">
      <h2>Consultation</h2>
    </div>
    <div class="col-md-8 col-sm-5 col-xs-12">
      <% if @consultation.completed %>
        <span class="pull-right" style="color: #FFA07A;"><h4>Completed</h4></span>
      <% elsif !current_user.lab? %>
        <%= button_to 'Complete', { controller: "consultations", action: "update"}, params: { 'consultation[completed]' => !@consultation.completed, 'consultation[id]' => @consultation.id } , method: :put, class: 'btn btn-primary submit-btn complete-btn', disabled: @consultation.completed  %>
      <% end %>
    </div>
  </div>
  <div class="patient-details">
    <div class="col-md-4 col-sm-5 col-xs-12 pad-left resp-pad">
      <p>Patient ID :  <span><%= @patient.uid %></span></p>
    </div>
    <% unless current_user.lab? %>
      <div class="col-md-8 col-sm-7 col-xs-12 resp-pad">
        <p>Patient Name : <span><%= @patient.fullname %></span></p>
      </div>
    <% end %>
  </div>

  <% if current_user.lab? %>
    <div class="patient-details">
      <div class="col-md-4 col-sm-5 col-xs-12 pad-left resp-pad">
        <p>Doctor Name :  <span><%= @consultation.user_fullname %></span></p>
      </div>
      <div class="col-md-8 col-sm-7 col-xs-12 resp-pad">
        <p>Date of Assessment : <span><%= @consultation.assessment_date || '-' %></span></p>
      </div>
    </div>
  <% else %>
    <div class="history-form">
      <div class="form-group col-md-4 col-sm-4 col-xs-12">
        <label>Doctor Name</label>
        <%= select_tag('user_id', options_for_select(all_healthcare_professionals.collect{ |u| [u.fullname, u.id]}, selected: @consultation.user_id), prompt: "Select Doctor", class: 'form-control doctorid') %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-12">
        <label>Date of Assessment</label>
        <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
          <input class="form-control custom-date assessment-date" name="consultation_assessment_date" type="text" placeholder="Assessment Date" />
          <span class="input-group-addon custom-addon history-addon"></span>
        </div>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-12">
        <label>Disease</label>
        <% options_for_disease = Consultation.diseases.keys %>
        <%= select_tag('disease', options_for_select(options_for_disease, selected: @consultation.disease), prompt: "Select", class: 'form-control disease', disabled: @consultation.completed?) %>
      </div>

    </div>
  <% end %>

  <div class="blank-div"></div>

  <% unless current_user.lab? %>
    <div class="menu-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active history">
          <a href="#history" aria-controls="history" role="tab" data-toggle="tab"></a>
          <h3>History</h3>
        </li>
        <li role="presentation" class="profile">
        <span>
          <a href="#examination" aria-controls="examination" role="tab" data-toggle="tab"></a>
          <h3><%= @consultation.tuberculosis? ? "Symptoms" : "Examination" %></h3>
        </span>
        </li>
        <li role="presentation" class="laboratory">
          <span>
            <a href="#laboratory" aria-controls="settings" role="tab" data-toggle="tab">
            </a>
          </span>
          <h3>Laboratory <br>Requests</h3>
        </li>
        <li role="presentation" class="general">
          <span class="<%= @laboratory_request.persisted? ? '' : 'disabled' %>">
            <a href="#lab-result" aria-controls="settings" role="tab" data-toggle="tab">
            </a>
          </span>
          <h3>Laboratory <br> Results</h3>
        </li>
        <li role="presentation" class="messages">
          <span>
            <a href="#diagnosis" aria-controls="diagnosis" role="tab" data-toggle="tab">
            </a>
          </span>
          <h3>Diagnosis</h3>
        </li>
        <li role="presentation" class="treatment">
          <span>
            <a href="#treatment" aria-controls="settings" role="tab" data-toggle="tab">
            </a>
          </sapn>
          <h3>Treatment</h3>
        </li>
        <li role="presentation" class="lab-result">
          <span>
            <a href="#general" aria-controls="settings" role="tab" data-toggle="tab">
            </a>
          </span>
          <h3>General Notes</h3>
        </li>
      </ul>
    </div>
  <% else %>
    <div class="heading">
      <h2>Laboratory Results</h2>
    </div>
  <% end %>

  <div class="tab-content custom-tabs-content" id="myTabContent">
    <div class="tab-content custom-tabs-content" id="myTabContent">
      <!--start history section-->
      <div role="tabpane1" class="tab-pane in fade active" id="history">
        <%= render partial: 'history' %>
      </div>
      <!-- end History section -->
      <!--start examination section-->
      <div role="tabpane1" class="tab-pane in fade" id="examination">
        <%= render partial: 'examination' %>
      </div>
      <!-- end examination section -->
      <!--Start Laboratory request section-->
      <div role="tabpane1" class="tab-pane in fade" id="laboratory">
        <%= render partial: 'laboratory_request' %>
      </div>
      <!-- End Laboratory request section -->
      <div role="tabpane1" class="tab-pane fade" id="lab-result">
        <%= render partial: 'laboratory_result' %>
      </div>
      <!--start diagnosis section-->
      <div role="tabpane1" class="tab-pane in fade" id="diagnosis">
        <%= render partial: 'diagnosis' %>
      </div>
      <!-- end diagnosis section -->
      <div role="tabpane1" class="tab-pane fade" id="treatment">
        <%= render partial: 'treatment' %>
      </div>
      <!--start General Note section-->
      <div role="tabpane1" class="tab-pane in fade" id="general">
        <%= render partial: 'general_note' %>
      </div>
      <!-- end General Note section -->
    </div>
  </div>

</div>


<script type="text/javascript">
  $(document).ready(function () {

    // $('.general').on('click', function () {
      // changeLabResult(gon.laboratory_request);
    // })

    function changeLabResult(lab_request){
      for (var key in lab_request) {
        if (lab_request.hasOwnProperty(key)) {
          if(lab_request[key]){
            $('.'+key+'-input').show()
            $('.'+key+'-span').hide()
            $('.'+key+'-requested').text('Requested')
          } else {
            $('.'+key+'-input').hide()
            $('.'+key+'-span').show()
            $('.'+key+'-requested').text('Not Requested')
          }
        }
      }
      var lab_questions = lab_request.questions
      for (var key in lab_questions) {
        if (lab_questions.hasOwnProperty(key)) {
          if(lab_questions[key] == "true"){
            $('.questions-'+key+'-input').show();
            $('.questions-'+key+'-input').prop( "disabled", false);
            $('.questions-'+key+'-span').hide();
            $('.questions-'+key+'-requested').text('Requested');
          } else {
            $('.questions-'+key+'-input').hide();
            $('.questions-'+key+'-input').prop( "disabled", true);
            $('.questions-'+key+'-span').show();
            $('.questions-'+key+'-requested').text('Not Requested');
          }
        }
      }
    }

    function next(){
      var $li = $('.nav-tabs').find('li')
      i = $li.siblings('.active').index()
      max = $li.length;
      if (i < max) {
        $li.find('[role="tab"]').eq(i+1).tab('show');
        $($li[i+1]).find('span').removeClass('disabled')
        window.scrollTo(0,0);
      }
    }

    if(<%= current_user.lab? %>) {
      changeLabResult(gon.laboratory_request);
      $("#history").removeClass("active");
      $("#lab-result").removeClass("fade");
      $("#lab-result").addClass("active");
    }
    $("#datepicker").datepicker({
      autoclose: true,
      todayHighlight: true
    });

    $('.next-tab').on('click', function (e) {
      if($(this).attr('data-lab-user') == 'false'){
        next();
      }
      var formId = $(this).attr('data-id');
      if(typeof formId != 'undefined'){
        $('#'+formId).validate({
        rules: {
          "history[sexual_orientation]": { required: true },
          "examination[height]": { number: true },
          "examination[weight]": { number: true },
          "examination[temperature]": { number: true }
        },
        errorPlacement: function(error, element) {
          if (element.parent().parent().hasClass('radio_buttons')){
              element = element.parent().parent();
          }
          error.insertAfter(element);
        },
        submitHandler: function(form){
          if(form.checkValidity()){
            if(form.id == "diagnosis_form"){
              var datastring = $(form).serialize();
              var url = form.action.split("<%= root_url %>")[1]
              $.ajax({
                type: form.method,
                url: "/"+url,
                data: datastring,
                success: function(data) {
                  $("#treatment_form").validate({
                    rules: {
                      "treatment[medication1_regime1]": { required: data.hiv },
                      "treatment[medication2_regime2]": { required: data.hiv }
                    },
                    submitHandler: function(form){
                      ajaxFormSubmit(form);
                      next();
                    }
                  })
                }
              });
            } else {
              ajaxFormSubmit(form)
            }
            next();
          }
        }
        })
      }
    });
    function ajaxFormSubmit(form) {
      var datastring = $(form).serialize();
      var url = form.action.split("<%= root_url %>")[1]
      $.ajax({
        type: form.method,
        url: "/"+url,
        data: datastring,
        success: function(data) {
          if(data.lab_request) {
            changeLabResult(data.lab_request);
          }
        }
      });
    }

    $('.previous-tab').on('click', function (e) {
      e.preventDefault();
      var $li = $('.nav-tabs').find('li')
      i = $li.siblings('.active').index()
      max = $li.length;

      if (i > 0) {
        $li.find('[role="tab"]').eq(i-1).tab('show');
        window.scrollTo(0,0);
      }
    });


    $('.assessment-date').on('change', function(){
       var assessmentDate = $(this).val()
       if(typeof(assessmentDate) != 'undefined'){
         $('#history_assessment_date').val(new Date(assessmentDate))
       }
    });

    $('#user_id').on('change', function(){
      var user_id = $(this).val()
      if(typeof(user_id) != 'undefined'){
        $.ajax({
          type: "PATCH",
          url: "<%= update_provider_patient_consultation_path(@consultation.patient, @consultation) %>",
          data: { user_id: user_id }
        });
        // $('#history_user_id').val(user_id);
       }
    });

    $('#disease').on('change', function(){
      var disease = $(this).val()
      if(typeof(disease) != 'undefined'){
        $.ajax({
          type: "PATCH",
          url: "<%= update_disease_patient_consultation_path(@consultation.patient, @consultation) %>",
          data: { disease: disease }
        });
        // $('#history_user_id').val(user_id);
       }
    });

    if(<%= @consultation.assessment_date.present? %>){
      $('#datepicker').datepicker("update", new Date("<%= @consultation.assessment_date.to_s %>") || new Date());
    }

    if (<%= current_user.lab? %>) {
      $('.hiv_laboratory_result').hide();
      $('.tb_laboratory_result').show();
    }

    function show_tb() {
      $('.hiv_history').hide();
      $('.hiv_examination').hide();
      $('.hiv_laboratory_request').hide();
      $('.hiv_laboratory_result').hide();
      $('.hiv_diagnosis').hide();
      $('.hiv_treatment').hide();

      $('.tb_history').show();
      $('.tb_examination').show();
      $('.tb_laboratory_request').show();
      $('.tb_laboratory_result').show();
      $('.tb_diagnosis').show();
      $('.tb_treatment').show();
    }

    function show_hiv() {
      $('.tb_history').hide();
      $('.tb_examination').hide();
      $('.tb_laboratory_request').hide();
      $('.tb_laboratory_result').hide();
      $('.tb_diagnosis').hide();
      $('.tb_treatment').hide();

      $('.hiv_history').show();
      $('.hiv_examination').show();
      $('.hiv_laboratory_request').show();
      $('.hiv_laboratory_result').show();
      $('.hiv_diagnosis').show();
      $('.hiv_treatment').show();
    }

    $('#disease').on('change', function(){
      if (this.value == 'hiv') {
        show_hiv();
      } else if(this.value == 'tuberculosis') {
        show_tb();
      }
    });

    $('#diagnosis_diagnose_type').on('change', function() {
      $('#diagnosis_diagnose_type_text_field').val(this.value);
      if (this.value == 'other') {
        $('#diagnosis_diagnose_type_text_field').show();
        $('#diagnosis_diagnose_type_text_field').prop("disabled", false);
      } else {
        $('#diagnosis_diagnose_type_text_field').prop("disabled", true);
        $('#diagnosis_diagnose_type_text_field').hide();
      }
    });

    $('.treatment_questions').on('change', function() {
      var sibling_text = '#' + this.id + '_text';
      $(sibling_text).val('');
      if (this.value == 'other') {
        $(sibling_text).removeClass('display_none');
        $(sibling_text).prop("disabled", false);
      } else {
        $(sibling_text).prop("disabled", true);
        $(sibling_text).addClass('display_none');
      }
    });

    (function() {
      if ($('#disease').val() == 'hiv') {
        show_hiv();
      } else if($('#disease').val() == 'tuberculosis'){
        show_tb();
      }
    })();

  });
 </script>
