<div class="login-container">
  <div class="col-md-6 col-sm-6 col-xs-12 welcome-form pad-none">
    <div class="welcome-block">
      <h2 class="welcome">Change your password</h2>
      <div class="login-block">
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
          <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>
          <% if resource.persisted? && resource.errors.messages.has_key?(:reset_password_token) %>
            <%= link_to "Request new token?", send_reset_password_token_user_path(resource.id), method: :post, style: "text-decoration: underline;" %>
          <% end %>
          <div class="password-block">
            <div class="form-group">
              <div class="form-group">
                <%= f.label :password, "New password" %><br />
                <%= f.input :password, required: true, label: false, autofocus: true, input_html: { class: 'form-control'}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm your new password" %><br />
              <%= f.input :password_confirmation, label: false, input_html: { class: 'form-control' }, required: true %>
            </div>

            <div class="actions change-password">
              <%= f.submit "Change my password", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 pad-none welcome-form">
    <div class="new-block">
      <h2 class="new">Welcome to KinectHub</h2>
      <div class="signup-icon">
        <%= image_tag 'signup-icon.png' %>
      </div>
      <div class="signup-image">
        <%= image_tag 'signup-image.png' %>
      </div>
    </div>
  </div>
</div>

<%#= render "devise/shared/links" %>
