<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
        <i class="fa fa-bars"></i>
        <span>Toggle Sidebar</span>
      </button>
    </div>
  </div>
</nav>

<script type="text/javascript">
  $('#sidebarCollapse').on('click', function () {
    $('#sidebar').toggleClass('active');
  });
</script>
