<div class="main-block tb_laboratory_result display_none">
  <div class="clearfix"></div>
  <div class="lab-result-table table-responsive">
    <table class="table table-hover footable">
      <thead>
        <tr>
          <th colspan="2">Test</th>
          <th></th>
          <th data-hide="phone">Result</th>
        </tr>
      </thead>
      <tbody>
        <%= f.fields_for :questions do |qs| %>
          <% LaboratoryRequest::TB_QUESTIONS.each do |qsk, qsv| %>
            <tr>
              <td>
                <%= qs.label qsk, qsv %>
              </td>
              <td></td>
              <td><%= test_ordered?(qsk.to_s) ? 'Requested' : 'Not Requested' %></td>
              <td>
                <%= qs.input qsk, label: false, input_html: { class: laboratory_result_input_class(qsk), placeholder: qsk.to_s.titleize, value: @laboratory_result.questions[qsk.to_s] }, disabled: !test_ordered?(qsk.to_s) %>
                <span class="<%= laboratory_result_span_class(qsk) %>">-</span>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
