<div class="main-block tb_treatment display_none">
  <div class="history-heading">
    <p>Treatment</p>
  </div>
  <div class="clearfix"></div>
  <div class="patient-history tb_history">
    <div class="clearfix"></div>
    <% option_values = Treatment::OPTION_VALUES.map{|k, v| [v, k]}%>
    <%= f.fields_for :questions do |qs| %>
      <% Treatment::TB_QUESTIONS.each do |qsk, qsv| %>
        <div class="question-block row">
          <div class="col-md-3 col-sm-4 col-xs-12 pad-left">
            <%= qs.label qsk, qsv %>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-10">
            <%= qs.select(qsk, option_values, { selected: selected_value(qsk), include_blank: "Select" }, { class: 'form-control treatment_questions' })
            %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-10">
            <%= qs.text_field qsk, label: false, value: @treatment.questions[qsk.to_s], id: "treatment_questions_#{qsk}_text",
              class: "form-control #{('display_none' unless is_treatment_type_other(qsk))} treatment_questions_text", placeholder: "", disabled: !is_treatment_type_other(qsk) %>
          </div>

        </div>
      <% end %>
    <% end %>
    <div class="question-block row">
      <div class="col-md-3 col-sm-4 col-xs-12 pad-left">
        <label>High protein diet</label>
      </div>
    </div>
    <div class="question-block row">
      <div class="col-md-3 col-sm-4 col-xs-12 pad-left">
        <label>Well ventilated and natural light in house</label>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
