<div class="main-block tb_diagnosis display_none">
  <div class="main-block">
    <div class="diagnosis-heading">
      <p>Diagnosis</p>
    </div>
    <div class="clearfix"></div>
    <div class="diagnosis">
      <div class="diagnosis-form row">
        <div class="form-group col-md-4 col-sm-4 col-xs-4">
          <% is_diagnosis_type_other = !@diagnosis.diagnose_type.blank? && !Diagnosis::DIAGNOSIS_TYPES.except(:other).keys.include?(@diagnosis.diagnose_type&.to_sym) %>
          <% selected_value = is_diagnosis_type_other ? 'other' : @diagnosis.diagnose_type %>
          <%= f.select('diagnose_type', Diagnosis::DIAGNOSIS_TYPES.map{|k, v| [v, k]},
            { selected: selected_value, prompt: "Select Diagnosis" }, { class: 'form-control' }) %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-4">
          <%= f.text_field :diagnose_type, label: false, class: "form-control #{'display_none' unless is_diagnosis_type_other}", placeholder: "", disabled: !is_diagnosis_type_other, id: 'diagnosis_diagnose_type_text_field' %>
        </div>
      </div>
    </div>
  </div>
</div>
