<div class="main-block tb_examination display_none">
  <div class="examination-heading">
    <p>Symptoms</p>
  </div>
  <div class="clearfix"></div>
  <div class="patient-history tb_history">
    <div class="clearfix"></div>
    <%= f.fields_for :questions do |qs| %>
      <% Examination::TB_QUESTIONS.each do |qsk, qsv| %>
        <div class="question-block">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= qs.label qsk, qsv %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= qs.input qsk, label: false, as: :radio_buttons, checked: f.object.questions[qsk.to_s] %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
