<div class="hiv_laboratory_request display_none">
  <div class="main-block">
    <div class="history-heading">
      <p>Pathology</p>
    </div>
    <div class="clearfix"></div>
    <div class="patient-history">
      <div class="question-block">
        <p class="lab-heading">Select the required pathology tests (Result & Upper limit values) from the following options:</p>
      </div>

      <div class="question-block">
        <p class="lab-heading">Select other tests required (for Positive / Negative indications) from the following options:</p>
      </div>
    </div> <!-- patient history -->
  </div> <!-- main-block -->
  <div class="main-block">
    <div class="history-heading">
      <p>Imaging</p>
    </div>
    <div class="clearfix"></div>
    <div class="patient-history">
      <p class="lab-heading-ultra">Select the required imaging tests (for Normal, Abnormal or Unknown indications) from the following options:</p>
      <p class="lab-heading">Select the required imaging tests (Result & test dates) from the following options:
      </p>
    </div> <!-- patient history -->
  </div> <!-- main-block -->
</div>
