<div class="hiv_laboratory_result display_none">
  <div class="main-block">
    <div class="labtable-heading">
      <p class="pathology">Pathology</p>
      <div class="form-group col-md-8 col-sm-8 col-xs-12 pad-right result-date resp-pad">
      <div class="col-md-4 col-sm-4"></div>
        <%= f.label :date_of_test, "Date of test", class: 'col-md-3 col-sm-3 col-xs-12 resp-pad text-right' %>
        <div class="col-md-5 col-sm-5 col-xs-12 input-group date lab-datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :date_of_test, class: 'form-control custom-date', placeholder: 'Enter your date of test', value: (f.object.date_of_test.blank?) ? '' : f.object.date_of_test.strftime('%d-%m-%Y') %>
          <span class="input-group-addon calendar-icon fa fa-calendar">
          </span>
        </div>
      </div>
      <!-- <p class="result-date">Date of test: 18-05-2018</p> -->
    </div>
    <div class="clearfix"></div>
    <div class="lab-result-table table-responsive">
      <table class="table table-hover footable">
        <thead>
          <tr>
            <th colspan="2">Test</th>
            <th data-hide="phone">Result</th>
            <th data-hide="phone">Upper limit</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% rcc = @laboratory_result.rcc.present? && JSON.parse(@laboratory_result.rcc) %>
            <td class="footable-visible footable-first-column">RCC </td>
            <td class="footable-visible">
              <span class="rcc-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="rcc-input" style="display: none;">
                <input class="form-control rcc-value" id="rcc_result" value="<%= rcc.present? ? rcc['result'] : '' %>">
              </span>
              <span class="rcc-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="rcc-input" style="display: none;">
                <input class="form-control rcc-value" id="rcc_limit" value="<%= rcc.present? ? rcc['upper_limit'] : '' %>">
              </span>
              <span class="rcc-span">-</span>
            </td>
            <%= f.input :rcc, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% wcc = @laboratory_result.wcc.present? && JSON.parse(@laboratory_result.wcc) %>
            <td class="footable-visible footable-first-column">WCC</td>
            <td class="footable-visible">
              <span class="wcc-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="wcc-input" style="display: none;">
                <input class="form-control wcc-value" id="wcc_result" value="<%= wcc.present? ? wcc['result'] : '' %>">
              </span>
              <span class="wcc-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="wcc-input" style="display: none;">
                <input class="form-control wcc-value" id="wcc_limit" value="<%= wcc.present? ? wcc['upper_limit'] : '' %>">
              </span>
              <span class="wcc-span">-</span>
            </td>
            <%= f.input :wcc, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% esr = @laboratory_result.esr.present? && JSON.parse(@laboratory_result.esr) %>
            <td class="footable-visible footable-first-column">ESR</td>
            <td class="footable-visible">
              <span class="esr-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="esr-input" style="display: none;">
                <input class="form-control esr-value" id="esr_result" value="<%= esr.present? ? esr['result'] : '' %>">
              </span>
              <span class="esr-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="esr-input" style="display: none;">
                <input class="form-control esr-value" id="esr_limit" value="<%= esr.present? ? esr['upper_limit'] : '' %>">
              </span>
              <span class="esr-span">-</span>
            </td>
            <%= f.input :esr, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% crp = @laboratory_result.crp.present? && JSON.parse(@laboratory_result.crp) %>
            <td class="footable-visible footable-first-column">CRP</td>
            <td class="footable-visible">
              <span class="crp-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="crp-input" style="display: none;">
                <input class="form-control crp-value" id="crp_result" value="<%= crp.present? ? crp['result'] : '' %>">
              </span>
              <span class="crp-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="crp-input" style="display: none;">
                <input class="form-control crp-value" id="crp_limit" value="<%= crp.present? ? crp['upper_limit'] : '' %>">
              </span>
              <span class="crp-span">-</span>
            </td>
            <%= f.input :crp, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% inr = @laboratory_result.inr.present? && JSON.parse(@laboratory_result.inr) %>
            <td class="footable-visible footable-first-column">INR</td>
            <td class="footable-visible">
              <span class="inr-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="inr-input" style="display: none;">
                <input class="form-control inr-value" id="inr_result" value="<%= inr.present? ? inr['result'] : '' %>">
              </span>
              <span class="inr-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="inr-input" style="display: none;">
                <input class="form-control inr-value" id="inr_limit" value="<%= inr.present? ? inr['upper_limit'] : '' %>">
              </span>
              <span class="inr-span">-</span>
            </td>
            <%= f.input :inr, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% alt_sgpt = @laboratory_result.alt_sgpt.present? && JSON.parse(@laboratory_result.alt_sgpt) %>
            <td class="footable-visible footable-first-column">ALT (SGPT)</td>
            <td class="footable-visible">
              <span class="alt_sgpt-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="alt_sgpt-input" style="display: none;">
                <input class="form-control alt_sgpt-value" id="alt_sgpt_result" value="<%= alt_sgpt.present? ? alt_sgpt['result'] : '' %>">
              </span>
              <span class="alt_sgpt-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="alt_sgpt-input" style="display: none;">
                <input class="form-control alt_sgpt-value" id="alt_sgpt_limit" value="<%= alt_sgpt.present? ? alt_sgpt['upper_limit'] : '' %>">
              </span>
              <span class="alt_sgpt-span">-</span>
            </td>
            <%= f.input :alt_sgpt, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% ast_sgot = @laboratory_result.ast_sgot.present? && JSON.parse(@laboratory_result.ast_sgot) %>
            <td class="footable-visible footable-first-column">AST (SGOT)</td>
            <td class="footable-visible">
              <span class="ast_sgot-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="ast_sgot-input" style="display: none;">
                <input class="form-control ast_sgot-value" id="ast_sgot_result" value="<%= ast_sgot.present? ? ast_sgot['result'] : '' %>">
              </span>
              <span class="ast_sgot-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="ast_sgot-input" style="display: none;">
                <input class="form-control ast_sgot-value" id="ast_sgot_limit" value="<%= ast_sgot.present? ? ast_sgot['upper_limit'] : '' %>">
              </span>
              <span class="ast_sgot-span">-</span>
            </td>
            <%= f.input :ast_sgot, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% billrubin = @laboratory_result.billrubin.present? && JSON.parse(@laboratory_result.billrubin) %>
            <td class="footable-visible footable-first-column">Billrubin</td>
            <td class="footable-visible">
              <span class="billrubin-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="billrubin-input" style="display: none;">
                <input class="form-control billrubin-value" id="billrubin_result" value="<%= billrubin.present? ? billrubin['result'] : ''%>">
              </span>
              <span class="billrubin-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="billrubin-input" style="display: none;">
                <input class="form-control billrubin-value" id="billrubin_limit" value="<%= billrubin.present? ? billrubin['upper_limit'] : ''%>">
              </span>
              <span class="billrubin-span">-</span>
            </td>
              <%= f.input :billrubin, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% albumin = @laboratory_result.albumin.present? && JSON.parse(@laboratory_result.albumin) %>
            <td class="footable-visible footable-first-column">Albumin</td>
            <td class="footable-visible">
              <span class="albumin-requested"></span>
            </td>
            <td class="footable-visible">
              <span class="albumin-input" style="display: none;">
                <input class="form-control albumin-value" id="albumin_result" value="<%= albumin.present? ? albumin['result'] : ''%>">
              </span>
              <span class="albumin-span">-</span>
            </td>
            <td class="footable-visible footable-last-column">
              <span class="albumin-input" style="display: none;">
                <input class="form-control albumin-value" id="albumin_limit" value="<%= albumin.present? ? albumin['upper_limit'] : '' %>">
              </span>
              <span class="albumin-span">-</span>
            </td>
            <%= f.input :albumin, as: "hidden", value: {} %>
          </tr>
        </tbody>
      </table>
    </div> <!-- result table -->

    <div class="lab-result-table result-table table-responsive">
      <table class="table table-hover footable test-table">
        <thead>
          <tr>
            <th></th>
            <th data-hide="phone"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="pcr_viral_load-input">
            <td>PCR/viral load</td>
            <td>
              <%= f.input :pcr_viral_load, label: false, as: :radio_buttons, collection: [ ['positive', 'Positive'], ['negative', 'Negative'], ['pending', 'Pending'], ['not done', 'Not Done'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
          <tr class="fourth_g_antigen_antibody_test-input">
            <td>4th Generation antigen antibody (Ag/Ab) tests (p24+ELIS, ELI, MEIA/ELFA/ECLIA): includes Architect, Duo,Combo/Combi etc</td>
            <td>
              <%= f.input :fourth_g_antigen_antibody_test, label: false, as: :radio_buttons, collection: [ ['positive', 'Positive'], ['negative', 'Negative'], ['pending', 'Pending'], ['not done', 'Not Done'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
          <tr class="rapid_test-input">
            <td>Rapid tests: finger prick and oral swab tests are antibody only: includes OraQuick</td>
            <td>
              <%= f.input :rapid_test, label: false, as: :radio_buttons, collection: [ ['positive', 'Positive'], ['negative', 'Negative'], ['pending', 'Pending'], ['not done', 'Not Done'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- result table -->

    <div class="labtable-heading">
      <p class="pathology col-md-4 pad-none resp-pad">Imaging</p>
      <div class="form-group col-md-8 col-sm-8 col-xs-12 result-date pad-right resp-pad">
      <div class="col-md-4 col-sm-3 col-xs-12"></div>
        <%= f.label :date_of_imaging, "Date of imaging", class: 'col-md-3 col-sm-4 resp-pad col-xs-12 pad-right' %>
        <div class="col-md-5 col-sm-5 col-xs-12 input-group date lab-datepicker" data-date-format="dd-mm-yyyy">
          <%= f.text_field :date_of_imaging, class: 'form-control custom-date', placeholder: 'Enter your date of imaging', value: (f.object.date_of_imaging.blank?) ? '' : f.object.date_of_imaging.strftime('%d-%m-%Y') %>
          <span class="input-group-addon calendar-icon fa fa-calendar">
          </span>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="lab-result-table imaging-table table-responsive">
      <table class="table table-hover footable test-table">
        <thead>
          <tr>
            <th>TEST</th>
            <th data-hide="phone"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="ultrasound-input">
            <td>Ultrasound</td>
            <td>
              <%= f.input :ultrasound, label: false, as: :radio_buttons, collection: [ ['normal', 'Normal'], ['abnormal', 'Abnormal'], ['unknown', 'Unknown'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
          <tr class="ct-input">
            <td>CT</td>
            <td>
              <%= f.input :ct, label: false, as: :radio_buttons, collection: [ ['normal', 'Normal'], ['abnormal', 'Abnormal'], ['unknown', 'Unknown'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
          <tr class="mri-input">
            <td>MRI</td>
            <td>
              <%= f.input :mri, label: false, as: :radio_buttons, collection: [ ['normal', 'Normal'], ['abnormal', 'Abnormal'], ['unknown', 'Unknown'] ], label_method: :second, value_method: :first %>
            </td>
          </tr>
        </tbody>
      </table>
    </div> <!-- imaging table -->

    <div class="labtable-heading">
      <p class="pathology">Imaging diagnosis confirmation</p>
    </div>

    <div class="lab-result-table diagnosis-table table-responsive">
      <table class="table table-hover footable">
        <thead>
          <tr>
            <th>TEST</th>
            <th data-hide="phone">Date</th>
            <th data-hide="phone">Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% hepatomegaly = @laboratory_result.hepatomegaly.present? && JSON.parse(@laboratory_result.hepatomegaly) %>
            <td>Image Diagnosis 1</td>
            <td>
              <div class="input-group date lab-datepicker hepatomegaly-input" data-date-format="dd-mm-yyyy" style="display: none;">
                <input class="form-control custom-date hepatomegaly-value" id="hepatomegaly_date" placeholder="Enter date" value="<%= hepatomegaly.present? ? hepatomegaly['date'] : '' %>" />
                <span class="input-group-addon custom-addon history-addon"></span>
              </div>
              <span class="hepatomegaly-span">-</span>
            </td>
            <td>
              <div class="hepatomegaly-input" style="display: none;">
                <input class="form-control hepatomegaly-value" id="hepatomegaly_result" value="<%= hepatomegaly.present? ? hepatomegaly['result'] : '' %>" placeholder="Enter result">
              </div>
              <span class="hepatomegaly-span">-</span>
            </td>
            <%= f.input :hepatomegaly, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% cirrhosis = @laboratory_result.cirrhosis.present? && JSON.parse(@laboratory_result.cirrhosis) %>
            <td>Image Diagnosis 2</td>
            <td>
              <div class="input-group date lab-datepicker cirrhosis-input" data-date-format="dd-mm-yyyy" style="display: none;">
                <input class="form-control custom-date cirrhosis-value" id="cirrhosis_date" type="text" placeholder="Enter date" value="<%= cirrhosis.present? ? cirrhosis['date'] : '' %>" />
                <span class="input-group-addon custom-addon history-addon"></span>
              </div>
              <span class="cirrhosis-span">-</span>
            </td>
            <td>
              <div class="cirrhosis-input" style="display: none;">
                <input class="form-control cirrhosis-value" id="cirrhosis_result" value="<%= cirrhosis.present? ? cirrhosis['result'] : '' %>"  placeholder="Enter result">
              </div>
              <span class="cirrhosis-span">-</span>
            </td>
            <%= f.input :cirrhosis, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% splenic_enlargement = @laboratory_result.splenic_enlargement.present? && JSON.parse(@laboratory_result.splenic_enlargement) %>
            <td>Image Diagnosis 3</td>
            <td>
              <div class="input-group date lab-datepicker splenic_enlargement-input" data-date-format="dd-mm-yyyy" style="display: none;">
                <input class="form-control custom-date splenic_enlargement-value" id="splenic_enlargement_date" type="text" placeholder="Enter date" value="<%= splenic_enlargement.present? ? splenic_enlargement['date'] : '' %>" />
                <span class="input-group-addon custom-addon history-addon"></span>
              </div>
              <span class="splenic_enlargement-span">-</span>
            </td>
            <td>
              <div class="splenic_enlargement-input" style="display: none;">
                <input id="splenic_enlargement_result" class="form-control splenic_enlargement-value" value="<%= splenic_enlargement.present? ? splenic_enlargement['result'] : '' %>"  placeholder="Enter result">
              </div>
              <span class="splenic_enlargement-span">-</span>
            </td>
            <%= f.input :splenic_enlargement, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% ascites = @laboratory_result.ascites.present? && JSON.parse(@laboratory_result.ascites) %>
            <td>Image Diagnosis 4</td>
            <td>
              <div class="input-group date lab-datepicker ascites-input" data-date-format="dd-mm-yyyy" style="display: none;">
                <input class="form-control custom-date ascites-value" id="ascites_date" type="text" placeholder="Enter date" value="<%= ascites.present? ? ascites['date'] : '' %>" />
                <span class="input-group-addon custom-addon history-addon"></span>
              </div>
              <span class="ascites-span">-</span>
            </td>
            <td>
              <div class="ascites-input" style="display: none;">
                <input id="ascites_result" class="form-control ascites-value" value="<%= ascites.present? ? ascites['result'] : '' %>"  placeholder="Enter result">
              </div>
              <span class="ascites-span">-</span>
            </td>
            <%= f.input :ascites, as: "hidden", value: {} %>
          </tr>

          <tr>
            <% abnormal_blood_flow = @laboratory_result.abnormal_blood_flow.present? && JSON.parse(@laboratory_result.abnormal_blood_flow) %>
            <td>Image Diagnosis 5</td>
            <td>
              <div class="input-group date lab-datepicker abnormal_blood_flow-input" data-date-format="dd-mm-yyyy" style="display: none;">
                <input class="form-control custom-date abnormal_blood_flow-value" id="abnormal_blood_flow_date" type="text" placeholder="Enter date" value="<%= abnormal_blood_flow.present? ? abnormal_blood_flow['date'] : '' %>" />
                <span class="input-group-addon custom-addon history-addon"></span>
              </div>
              <span class="abnormal_blood_flow-span">-</span>
            </td>
            <td>
              <div class="abnormal_blood_flow-input" style="display: none;">
                <input id="abnormal_blood_flow_result" class="form-control abnormal_blood_flow-value" value="<%= abnormal_blood_flow.present? ? abnormal_blood_flow['result'] : '' %>"  placeholder="Enter result">
              </div>
              <span class="abnormal_blood_flow-span">-</span>
            </td>
            <%= f.input :abnormal_blood_flow, as: "hidden", value: {} %>
          </tr>

        </tbody>
      </table>
    </div> <!-- imaging table -->
  </div>
</div>
