<div class="hiv_examination display_none">
  <div class="main-block">
    <div class="examination-heading">
      <p>Physical Examination</p>
    </div>
    <div class="clearfix"></div>
    <div class="physical-examination">
      <div class="examination-form">
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :height, :label => "Height (cm)", input_html: { class: "form-control", placeholder: "Enter Height" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :weight, :label => "Weight (kg)", input_html: { class: "form-control", placeholder: "Enter Weight" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :temperature, :label => "Temp (deg C)", input_html: { class: "form-control", placeholder: "Enter Temperature" } %>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :blood_sugar_level, :label => "Blood Sugar level", input_html: { class: "form-control", placeholder: "Enter Blood Sugar Level" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :avpu,:collection => avpu_options, prompt: "Select here", :label => "AVPU", input_html: { class: "form-control" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 examination-radio">
          <%= f.input :pupils, as: :radio_buttons, collection: [['Normal', 'normal'], ['Abnormal', 'abnormal']] %>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 examination-radio">
          <%= f.input :pulse, as: :radio_buttons, collection: [['Normal', 'normal'], ['Abnormal', 'abnormal']] %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :heart_rate, :label => "Heart Rate", input_html: { class: "form-control", min: 0, placeholder: "Enter Heart Rate" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 examination-radio">
          <%= f.input :heart_rate_regularity, :label => "Heart Rate Regularity", as: :radio_buttons, collection: [['Normal', 'normal'], ['Abnormal', 'abnormal']] %>
        </div>
        <div class="clearfix"></div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 examination-radio">
          <%= f.input :respiration, :label => "Respiration", as: :radio_buttons, collection: [['Normal', 'normal'], ['Abnormal', 'abnormal']] %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :breaths_per_minute, :label => "Breaths per Minute", input_html: { class: "form-control", min: 0, placeholder: "Enter Breaths per Minute" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :spo2, :label => "SpO2", input_html: { class: "form-control", placeholder: "Enter SpO2 details" } %>
        </div>
        <div class="clearfix"></div>
        <div class="bp">
          <p>Blood Pressure</p>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label>Sitting</label>
          <% bps = @examination.blood_pressure_systolic.present? && JSON.parse(@examination.blood_pressure_systolic) %>
          <input type="text" class="form-control systolic" placeholder="Systolic" id="sitting_systolic" value="<%= bps.present? ? bps['sitting'] : '' %>">
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label>Standing</label>
          <input type="text" class="form-control systolic" placeholder="Systolic" id="standing_systolic" value="<%= bps.present? ? bps['standing'] : '' %>">
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <label>Laying</label>
          <input type="text" class="form-control systolic" placeholder="Systolic" id="laying_systolic" value="<%= bps.present? ? bps['laying'] : '' %>">
        </div>
        <% dps = @examination.blood_pressure_diastolic.present? && JSON.parse(@examination.blood_pressure_diastolic) %>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="form-control diastolic" placeholder="Diastolic" id="sitting_diastolic" value="<%= dps.present? ? dps['sitting'] : '' %>">
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="form-control diastolic" placeholder="Diastolic" id="standing_diastolic" value="<%= dps.present? ? dps['standing'] : '' %>">
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <input type="text" class="form-control diastolic" placeholder="Diastolic" id="laying_diastolic" value="<%= dps.present? ? dps['laying'] : '' %>">
        </div>
        <%= f.input :blood_pressure_systolic, as: "hidden", value: {} %>
        <%= f.input :blood_pressure_diastolic, as: "hidden", value: {} %>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :lung_diagram_available, "Lung Diagram Available" %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :lung_diagram_available, label: false, as: :radio_buttons, input_html: { class: 'lung-diagram-available'}, selected: 'no' %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :lung_diagram_storage_location, :label => "Lung Diagram Storage Location", input_html: { class: "form-control", placeholder: "Enter Lung Diagram Storage Location", disabled: !@examination.lung_diagram_available } %>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :lung_diagram_notes, as: :text, :label => "Lung Diagram Notes", input_html: { class: "form-control", placeholder: "Enter Lung Diagram Notes" } %>
        </div>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :abdomen_diagram_available, "Abdomen Diagram Available" %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :abdomen_diagram_available, label: false, as: :radio_buttons, input_html: { class: 'abdomen-diagram-available'}, selected: 'no' %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :abdomen_diagram_storage_location, :label => "Abdomen Diagram Storage Location", input_html: { class: "form-control", placeholder: "Enter Abdomen Diagram Storage Location", disabled: !@examination.abdomen_diagram_available } %>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :abdomen_diagram_notes, as: :text, :label => "Abdomen Diagram Notes", input_html: { class: "form-control", placeholder: "Enter Abdomen Diagram Notes" } %>
        </div>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :body_diagram_available, "Body Diagram Available" %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :body_diagram_available, label: false, as: :radio_buttons, input_html: { class: 'body-diagram-available'}, selected: 'no' %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :body_diagram_storage_location, :label => "Body Diagram Storage Location", input_html: { class: "form-control", placeholder: "Enter Body Diagram Storage Location", disabled: !@examination.body_diagram_available } %>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :body_diagram_notes, as: :text, :label => "Body Diagram Notes", input_html: { class: "form-control", placeholder: "Enter Body Diagram Notes" } %>
        </div>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :photo_available, "Photo Available" %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :photo_available, label: false, as: :radio_buttons, input_html: { class: 'photo-available'}, selected: 'no' %>
          </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.input :photo_storage_location, :label => "Photo Storage Location", input_html: { class: "form-control", placeholder: "Enter Photo Storage Location", disabled: !@examination.photo_available } %>
        </div>
      </div>
    <!-- physical-form -->
  </div>
  <!-- physical-examination -->
  </div> <!-- main-block -->
</div>
