<div class="hiv_diagnosis display_none">
  <div class="main-block">
    <div class="diagnosis-heading">
      <p>Diagnosis</p>
    </div>
    <div class="clearfix"></div>
    <div class="diagnosis">
      <div class="diagnosis-form">
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :hiv, "HIV" if false %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :hiv, label: false, as: :radio_buttons, selected: 'no' %>
          </div>
        </div>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
          <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
            <%= f.label :co_existing_hep_b, "Co-existing Hep B/" if false %>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
            <%= f.input :co_existing_hep_b, label: false, as: :radio_buttons, selected: 'no' %>
          </div>
        </div>
        <div class="border-bottom"></div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
          <%= f.label :notes, "Diagnosis Notes" %>
          <%= f.text_area :notes, label: false, class: "form-control", placeholder: "Enter Diagnosis Notes" %>
        </div>
      </div> <!-- diagnosis-form -->
  </div> <!-- diagnosis -->
</div> <!-- main-block -->
</div>
