<div class="hiv_treatment display_none">
  <div class="main-block">
    <div class="treatment-heading">
      <p>Treatment</p>
      <span>Select the required treatment options</span>
    </div>
    <div class="clearfix"></div>
    <div class="treatments">

      <div class="treatment-form">
        <div class="treatmentform-heading">
          <p></p>
        </div>
        <div class="form-group col-md-9 col-sm-12 col-xs-12 pad-none resp-pad">
          <%= f.input :medication1_regime1, collection: [], prompt: "Select here", label: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-9 col-sm-12 col-xs-12 pad-none resp-pad">
          <%= f.text_area :medication1_regime1_treatment_notes, class: 'form-control', placeholder: 'Enter  treatment notes...' %>
        </div>
        <div class="treatmentform-heading">
          <p></p>
        </div>
        <div class="form-group col-md-9 col-sm-12 col-xs-12 pad-none resp-pad">
          <%= f.input :medication2_regime2, collection: [], prompt: "Select here", label: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-9 col-sm-12 col-xs-12 pad-none resp-pad">
          <%= f.text_area :medication2_regime2_treatment_notes, class: 'form-control', placeholder: 'Enter  treatment notes...' %>
        </div>
      </div>

    </div>
  </div>
</div>
