<div class="hiv_history display_none">
  <div class="main-block">
    <div class="history-heading">
      <p>Family History</p>
    </div>
    <div class="clearfix"></div>
    <div class="patient-history hiv_history">
      <div class="question-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :caesarian_section_pre_1992, "Question 1 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :caesarian_section_pre_1992, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="question-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :mother_with_heaptitis_c_before_patient_born, "Question 2 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :mother_with_heaptitis_c_before_patient_born, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="question-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :household_member_with_heaptitis_c, "Question 3 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :household_member_with_heaptitis_c, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="question-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :unwell_at_borth_cause_uncertain, "Question 4 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :unwell_at_borth_cause_uncertain, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div> <!-- patient history -->
  </div>

   <!-- main-block -->
  <div class="main-block">
    <div class="history-heading">
      <p>Medical History</p>
    </div>
    <div class="clearfix"></div>
    <div class="patient-history">
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :tattoo_branding_scarification_or_body_piercing, "Question 1 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :tattoo_branding_scarification_or_body_piercing, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :received_a_blood_transfusion_prior_to_1992, "Question 2 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :received_a_blood_transfusion_prior_to_1992, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :received_an_organ_transfusion_prior_to_1992, "Question 3 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :received_an_organ_transfusion_prior_to_1992, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>

      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :received_clotting_factor_concentrates_produced_prior_to_1987, "Question 4 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :received_clotting_factor_concentrates_produced_prior_to_1987, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :ever_on_long_term__1_month_hemodialysis, "Question 5 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :ever_on_long_term__1_month_hemodialysis, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :currently_inject_or_inhaled_drugs_not_prescribed_by_a_doctor, "Question 6 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :currently_inject_or_inhaled_drugs_not_prescribed_by_a_doctor, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :ever_injected_or_inhaled_drugs_not_prescribed_by_a_doctor_even_, "Question 7 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :ever_injected_or_inhaled_drugs_not_prescribed_by_a_doctor_even_, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :are_needle_exchange_services_available_in_your_vicinity, "Question 8 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :are_needle_exchange_services_available_in_your_vicinity, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :currently_use_non_injectable_inhaled_drugs_not_prescribed_by_a_, "Question 9 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :currently_use_non_injectable_inhaled_drugs_not_prescribed_by_a_, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :ever_use_non_injectable_inhaled_drugs_not_prescribed_by_a_docto, "Question 10 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :ever_use_non_injectable_inhaled_drugs_not_prescribed_by_a_docto, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :employed_in_a_medical_or_dental_field_involving_direct_contact_, "Question 11 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :employed_in_a_medical_or_dental_field_involving_direct_contact_, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="medical-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :ever_incarcerated, "Question 12 here" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :ever_incarcerated, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
    </div> <!-- patient history -->
  </div> <!-- main-block -->

  <div class="main-block">
    <div class="history-heading">
      <p>Lifestyle</p>
    </div>
    <div class="clearfix"></div>
    <div class="patient-history lifestyle-history">
      <div class="lifestyle-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :smoking_current_or_in_past, "Smoking (current or in past)" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :smoking_current_or_in_past, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
      <div class="lifestyle-block">
        <div class="col-md-9 col-sm-8 col-xs-12 pad-left">
          <%= f.label :alcohol_consumption_current_or_in_past, "Alcohol consumption (current or in past)" %>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12 text-right pad-right">
          <%= f.input :alcohol_consumption_current_or_in_past, label: false, as: :radio_buttons, selected: 'no' %>
        </div>
      </div>
    </div> <!-- patient history -->
  </div> <!-- main block -->
</div>
