<div class="healthcare-form">
  <%= simple_form_for @patient, html: { class: "form-group" } do |f| %>
    <div class="row row-margin">
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad pad-left">
        <%#= f.label :uid %>
        <%= f.input :uid, label: 'ID', input_html: { class: "form-control" }, placeholder:"Enter ID" %>
      </div>
      <%# if current_user.clinician? %>
        <!-- <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
          <%#= f.input :doctor, collection: all_healthcare_professionals.collect{ |u| [u.fullname, u.id]}, selected: @patient.consultations.last.persisted? ? @patient.consultations.last.user.id : '', prompt: "Select here", label: "Doctor", input_html: { class: "form-control required" } %>
        </div> -->
      <%# end %>
    </div>
    <div class="clearfix"></div>
    <div class="row row-margin">
      <div class="form-group col-md-3 col-sm-3 col-xs-12 resp-pad pad-left">
        <%= f.input :first_name, input_html: { class: 'form-control' }, placeholder: 'Enter first name' %>
      </div>
      <div class="form-group col-md-3 col-sm-3 col-xs-12 resp-pad">
        <%= f.input :middle_name, input_html: { class: 'form-control' }, placeholder: 'Enter middle name' %>
      </div>
      <div class="form-group col-md-3 col-sm-3 col-xs-12 resp-pad">
        <%= f.input :last_name, input_html: { class: 'form-control' }, placeholder: 'Enter last name' %>
      </div>
      <div class="form-group col-md-3 col-sm-3 col-xs-12 resp-pad">
        <%= f.input :email, input_html: { class: 'form-control' }, placeholder: 'Enter email' %>
      </div>
    </div>
    <div class="row row-margin">
      <div class="form-group col-md-12 col-sm-12 col-xs-12 resp-pad pad-left">
        <%= f.input :address, as: :text,input_html:{ class: 'form-control' }, placeholder: 'Enter address' %>
      </div>
    </div>
    <div class="row row-margin">
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad pad-none">
        <%= f.input :suburb, input_html: { class: 'form-control' }, placeholder: 'Enter suburb' %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
        <%= f.label :country %>
        <%= f.input :country, collection: CS.countries.sort.collect { |x| [x[1], x[0]] }, prompt: "Select Country", label: false, input_html: { class: "form-control" } %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
        <%= f.label :state %>
        <%= f.input :state, collection: [], prompt: "Select State", label: false, input_html: { class: "form-control" } %>
      </div>
    </div>
    <div class="row row-margin">
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad pad-none">
        <%= f.input :postal_code, label: 'Postcode', input_html: { class: 'form-control' }, placeholder: 'Enter postcode' %>
      </div>

      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
        <%= f.input :username, input_html: { class: 'form-control' }, placeholder: 'Enter phone number' %>
        <%= f.hidden_field :phone %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
          <%= f.label :date_of_birth %>
          <div style="position: relative;">
            <%= f.text_field :date_of_birth, class: 'form-control custom-date', placeholder: 'Enter your date of birth (mm-dd-yyyy)', value: (f.object.date_of_birth.blank?) ? '' : f.object.date_of_birth.strftime('%m-%d-%Y') %>
            <span class="input-group-addon calendar-icon custom-addon fa fa-calendar">
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="row row-margin">
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad pad-left">
        <%= f.input :gender, as: :radio_buttons, collection: [ ['male', 'Male'], ['female', 'Female'], ['other', 'Other']], label_method: :second, value_method: :first, selected: 'male' %>
      </div>
      <div class="form-group col-md-4 col-sm-4 col-xs-12 resp-pad">
        <%= f.input :ethnicity, collection: ethnicity_options, prompt: "Select here", :label => "Ethnicity", input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="clearfix"></div>
    <div class="buttons">
      <%= f.button :submit, "Save Patient Record", class: 'btn save-btn record-btn' %>
      <%= f.button :submit, "Create Consultation", class: 'btn update-btn record-btn' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar').toggleClass('active');
    });

    $("#datepicker").datepicker({
      autoclose: true,
      todayHighlight: true
    })

    $('#patient_country').on('change', function(){
      var country = $(this).val();
      $.get( "<%= states_dashboard_index_path %>", { country: country } )
      .done(function( data ) {
        if(data.states.length > 0){
          var state_select = $("#patient_state").html("");
          data.states.forEach(function(value, index){
            state_select.append("<option value='"+value[0]+"'>"+value[1]+"</option>")
          })
          state_select.val("<%= @patient.state %>");
        }
      });
    });
    $('#patient_country').change();
    $('#patient_uid').on('blur', function() {
      if($(this).val()!="") {
        $('.patient_uid label.error').hide();
      }
    });

    $('#patient_username').intlTelInput({
      initialCountry: "auto",
      formatOnInit: true,
      separateDialCode: true,
      utilsScript: "assets/libphonenumber/utils.js",
      geoIpLookup: function(callback) {
        $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
        });
      }
    });

    $('#patient_username').on('change', function(){
      $('#patient_phone').val($('#patient_username').intlTelInput("getNumber"));
    });
    if("<%= @patient.phone.present? %>" == "true"){
      $("#patient_username").intlTelInput("setNumber", "<%= @patient.phone %>");
    }

    $(".simple_form").validate({
      rules: {
        "patient[date_of_birth]": { required: true },
        "patient[username]": {
          required: true,
          // phoneUS: true
        }
      },
      errorPlacement: function(error, element) {
        if (element.parent().parent().hasClass('radio_buttons')){
            element = element.parent().parent();
        }
        error.insertAfter(element);
      }
    });
  });
</script>
