<div class="main-block transaction-main-block" id="transaction-blocks" data-user-id="<%= current_patient.id %>">
  <div class="container">
    <div class="transaction-blocks">
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="received blocks">
          <span class="patient-icons"><%= image_tag('received.png') %></span>
          <span class="amount"><span class="token"></span><sup>kct</sup></span> <br> <span>Received</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="withdraw blocks">
          <span class="patient-icons"><%= image_tag('withdraw.png') %></span>
          <span class="amount">0<sup>kct</sup></span> <br> <span>Withdraw</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="balance blocks">
          <span class="patient-icons"><%= image_tag('balance.png') %></span>
          <span class="amount"><span class="token"></span><sup>kct</sup></span> <br> <span>Balance</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
<!--   <div class="transaction-search">
    <form>
      <input type="text" name="" class="col-md-10 col-sm-10 col-xs-10" placeholder="Search">
      <a href="" class="search-button col-md-2 col-sm-2 col-xs-12">Search</a>
    </form>
  </div> -->
  <div class="transaction-table table-responsive">
    <table class="table table-hover footable">
      <thead>
        <tr>
          <th>#</th>
          <th data-hide="phone">Description</th>
          <th data-hide="phone">Date</th>
          <th data-hide="phone" align="right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <% current_patient.distribution_overviews.where(status: DistributionOverview::STATUS[:completed]).each_with_index do |distribution, i| %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= distribution.description %></td>
            <td><%= distribution.updated_at.strftime("%d/%m/%Y %H:%M") %></td>
            <td class="receive"><%= distribution.token %> KCT <%= image_tag('receive.png') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- existing table -->
</div> <!-- container -->
<script type="text/javascript">
  $(document).ready(function(){
    if (checkWeb3()) {
      const kinectContractAbi = gon.contract_abi;
      const kinectContract = web3.eth.contract(kinectContractAbi);
      const kinectAddress = gon.contract_addresss;
      const kinectContractInstance = kinectContract.at(kinectAddress);
      kinectContractInstance.balanceOf("<%= current_patient.wallet_address %>", (err, res2) => {
        let obj = err ? null : { balance: res2.toNumber() };
        let balance = obj.balance/1e18
        $('.token').text(balance);
      });
    }
  })
</script>
