<div id="content" class="exist-block">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Existing Patient Consultation</h2>
  </div>

  <div class="patient-form">
    <%= form_tag(patients_path, method: :get) do %>
      <ul>
        <li>
          <%= text_field_tag :patient_id, params[:patient_id], class: "form-control", placeholder: "Patient ID" %>
        </li>
        <li>
          <%= text_field_tag :first_name, params[:first_name], class: "form-control", placeholder: "First Name" %>
        </li>
        <li>
          <%= text_field_tag :last_name, params[:last_name], class: "form-control", placeholder: "Last Name" %>
        </li>
        <li class="search-button">
          <%= submit_tag 'Search', class: "btn btn-primary search-btn" %>
        </li>
      </ul>
    <% end %>
  </div>

  <div class="existing-table">
     <table class="table table-hover footable">
      <thead>
        <tr>
          <th>Patient ID </th>
          <th>First Name</th>
          <th data-hide="phone">Last Name</th>
          <th data-hide="phone">Date of Assessment</th>
          <th data-hide="phone">Contact No</th>
          <th data-hide="phone">Action</th>
        </tr>
      </thead>
      <tbody>
        <% if @patients.present? %>
          <% @patients.each do |patient| %>
            <tr>
              <td><%= patient.uid %></td>
              <td>
                </span><%= patient.first_name %>
              </td>
              <td><%= patient.last_name %></td>
              <td><%= patient.consultations.last.assessment_date %></td>
              <td><%= patient.phone %></td>
              <td>
                <%= link_to "VIEW CONSULTATION", patient_consultations_path(patient), class: "btn btn-default" %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div> <!-- existing table -->
  <%= paginate @patients %>
</div>

<script type="text/javascript">
  $('.footable').footable({
    calculateWidthOverride: function() {
      return { width: $(window).width() };
    }
  });

  $('#assessment_date').datepicker({
    autoclose: true,
    todayHighlight: true,
    format: 'yyyy-mm-dd'
  })
</script>
