<div id="content" class="new-patient">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
          <i class="fa fa-bars"></i>
          <span>Toggle Sidebar</span>
        </button>
      </div>
    </div>
  </nav>
  <div class="heading">
    <h2>Patient Record Maintenance</h2>
  </div>
  <%= render partial: 'form' %>
</div>
