<div class="patient-info">
  <!-- Page Content Holder -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
          <i class="fa fa-bars"></i>
          <span>Toggle Sidebar</span>
          </button>
        </div>
      </div>
    </nav>
    <div class="heading">
      <h2>Patient Profile</h2>
    </div>
    <div class="patient-tabs">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active history">
          <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
          </a>
          <h3>Profile</h3>
        </li>
        <li role="presentation" class="profile">
          <a href="#token-transactions" aria-controls="token-transactions" role="tab" data-toggle="tab">
          </a>
          <h3>Token <br>Transactions</h3>
        </li>
      </ul>
    </div>
    <!-- custom-tabs -->
    <div class="blank-div"></div>
    <div class="tab-content custom-tabs-content" id="myTabContent">
        <!--start profile section-->
      <div role="tabpane1" class="tab-pane in fade active" id="profile">
        <div class="container">
          <div class="main-block">
            <div class="userinfo-block">
              <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="name_image">
                  <span class="patient-name">
                    <span class="name-block"><%= current_patient.fullname %></span>
                    <br> <%= current_patient.gender.titlecase%>, <%= current_patient.date_of_birth.strftime("%d %B %Y") %>
                  </span>
                </div>
              </div>

              <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                <div class="address-block">
                  <% if current_patient.address.present? %>
                    <span class="location-icon"><span class="fa fa-map-marker"></span></span>
                    <span class="address"><%= current_patient.address %></span>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <!-- main-block -->
          <div class="panel-group" id="accordion">
            <% current_patient.consultations.each_with_index do |consultation, index| %>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>" aria-expanded="false" aria-controls="collapseOne">
                      <%= consultation.user_fullname %>
                    </a>
                  </h4>
                </div>
                <div id="collapse<%= index %>" class="panel-collapse collapse <%= index.eql?(0) ? 'in' : '' %>">
                  <div class="panel-body">
                    <div class="main-block">
                      <div class="diagnosis-heading">
                        <p>Diagnosis</p>
                      </div>
                      <div class="clearfix"></div>
                      <div class="patient-diagnosis">
                        <div class="diagnosis-form">
                          <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
                            <label class="pull-left">HIV</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.diagnosis.try(:hiv) ? "Yes" : "No" %>
                            </div>
                          </div>
                          <div class="border-bottom"></div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12 lung-diagram">
                            <label class="pull-left">Co-existing Hep B/</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.diagnosis.try(:co_existing_hep_b) ? "Yes" : "No" %>
                            </div>
                          </div>
                          <div class="border-bottom"></div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Notes</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.diagnosis.try(:notes) || '-' %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="treatment-heading">
                        <p>Treatment</p>
                      </div>
                      <div class="clearfix"></div>
                      <div class="patient-diagnosis">
                        <div class="treatment-form">
                          <div class="treatmentform-heading">
                            <p></p>
                          </div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Integrase Strand Transfer Inhibitor-Based Regimens</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.treatment.try(:medication1_regime1) || '-' %>
                            </div>
                          </div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Notes</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.treatment.try(:medication1_regime1_treatment_notes) || '-' %>
                            </div>
                          </div>
                          <div class="border-bottom"></div>
                          <div class="treatmentform-heading">
                            <p></p>
                          </div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Protease Inhibitor-Based Regimens:</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.treatment.try(:medication2_regime2) || '-' %>
                            </div>
                          </div>
                          <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label>Notes</label>
                            <div class="custom-radio pull-right">
                              <%= consultation.treatment.try(:medication2_regime2_treatment_notes) || '-' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div> <!-- container -->
      </div> <!-- Diagnosis -->
      <!-- end Profile section -->

      <!--Start Token Transaction section-->
      <div role="tabpane1" class="tab-pane fade" id="token-transactions">
        <%= render partial: 'token_transaction' %>
      </div> <!--end Token Transaction section-->

    </div> <!-- tab-content-block -->
  </div><!-- content -->
</div> <!-- patient info -->
