<div class="login-container">
  <div class="col-md-6 col-sm-6 col-xs-12 welcome-form pad-none">
    <div class="welcome-block">
      <div class="signin-block">
        <h2 class="welcome">Welcome</h2>
        <p class="heading-text">Choose to sign in as a Patient or a Clinic / Healthcare provider</p>
        <div class="user-patient-url">
          <label>Login as a</label>
          <select class="form-control select-role">
            <option>Healthcare Provider</option>
            <option>Patient</option>
          </select>
        </div>
        <div class="user-block login-block">
          <%= form_for(User.new, as: :user, url: session_path(:user)) do |f| %>
            <div class="login-form">
              <div class="form-group">
                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email address" %>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: '*********' %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%#= f.check_box :remember_me %>
                  <%#= f.label :remember_me %>
                </div>
              <% end -%>
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary", data: { disable_with: false } %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="patient-block login-block" style="margin: 0 auto;">
          <%= form_for(Patient.new, as: :patient, url: session_path(:patient)) do |f| %>
            <div class="login-form">
              <div class="form-group">
                <div class="form-group">
                  <%= f.label :username %><br/>
                  <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder: "Phone number" %>
                </div>
              </div>

              <div class="form-group otp-field login-otp">
                <%= f.label :otp, "OTP" %><br/>
                <%= f.password_field :password, class: "form-control", placeholder: '*********' %>
              </div>
              <div class="clearfix"></div>
              <%= f.hidden_field :phone %>
              <%= link_to "Request new OTP?", 'javascript:void(0);', class: "request-new-otp login-otp", style: "text-decoration: underline;" %>
              <div class="actions">
                <%= f.submit "Log in", class: "btn btn-primary login-btn login-otp" , data: { disable_with: false } %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="actions patient-block">
          <%= button_tag "Send OTP", class: "btn otp-button send-otp" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-6 col-xs-12 pad-none welcome-form">
    <div class="new-block">
      <h2 class="new">New Here?</h2>
      <div class="signup-icon">
        <%= image_tag 'signup-icon.png' %>
      </div>
      <div class="signup-image">
        <%= image_tag 'signup-image.png' %>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function(){
    $('.select-role').on('change', function(){
      const role = $(this).val();
      const user_block = $('.user-block');
      const patient_block = $('.patient-block');
      if(role == "Healthcare Provider"){
        patient_block.hide();
        user_block.show();
        $('.otp-field').addClass('login-otp');
        $('.login-btn').addClass('login-otp');
        $('.request-new-otp').addClass('login-otp');
      } else if(role == "Patient"){
        user_block.hide();
        patient_block.show();
        $('.send-otp').show();
      }
    })

    $('.send-otp').on('click', function(){
      $.ajax({
        type: 'POST',
        url: "<%= send_otp_patients_path %>",
        data: { phone: $('#patient_username').intlTelInput("getNumber") },
        success: function(data) {
          if(data.success){
            toastr.success(data.message);
            $('.otp-field').removeClass('login-otp');
            $('.login-btn').removeClass('login-otp');
            $('.request-new-otp').removeClass('login-otp');
            $('.send-otp').hide();
          } else {
            toastr.warning(data.message);
          }
        }
      });
    });

    $('#patient_username').intlTelInput({
      initialCountry: "auto",
      formatOnInit: true,
      separateDialCode: true,
      utilsScript: "assets/libphonenumber/utils.js",
      geoIpLookup: function(callback) {
        $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
          var countryCode = (resp && resp.country) ? resp.country : "";
          callback(countryCode);
        });
      }
    });

    $('.request-new-otp').on('click', function(){
      $('.otp-field').addClass('login-otp');
      $('.login-btn').addClass('login-otp');
      $('.request-new-otp').addClass('login-otp');
      $('.send-otp').show();
    })

    $('#patient_username').on('change', function(){
      $('#patient_phone').val($('#patient_username').intlTelInput("getNumber"));
    })

    if(location.hash == "#patient"){
      $('.select-role').val('Patient').change()
      var phone = location.search.replace('?phone=', '')
      $("#patient_username").intlTelInput("setNumber", phone);
      if(phone != ""){
        $('.otp-field').removeClass('login-otp');
        $('.login-btn').removeClass('login-otp');
        $('.request-new-otp').removeClass('login-otp');
        $('.send-otp').hide();
        $('#patient_phone').val(phone);
      }
    }
  })
</script>
