<!-- Page Content Holder -->
<div id="content">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Healthcare Professionals Maintenance</h2>
  </div>
    <div class="healthcare-form">
      <%= simple_form_for(@healthcare_professional, as: :user, method: :patch, url: healthcare_professional_path, html: { class: "form-horizontal form-row-seperated" }) do |f| %>
        <div class="form-group col-md-3 col-sm-3 col-xs-12 pad-left">
          <%= f.input :uid, :label => "ID", input_html: { class: "form-control", placeholder: "Enter ID" } %>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
          <%= f.input :fullname, :label => "Full Name", input_html: { class: "form-control", placeholder: "Enter Fullname" } %>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
          <%= f.input :email, :label => "Email", input_html: { class: "form-control", placeholder: "Enter Email Address" } %>
        </div>
        <div class="form-group col-md-3 col-sm-3 col-xs-12">
          <%= f.input :roles,:collection => roles_list, :include_blank => true, :label => "Role", input_html: { class: "form-control" } %>
        </div>
        <div class="form-group col-md-12 col-sm-12 col-xs-12 pad-left">
          <%= f.input :address1, as: :text, label: 'Address', input_html: { class: "form-control", placeholder: "Enter address" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12 pad-left">
          <%= f.input :suburb, :label => "Suburb", input_html: { class: "form-control", placeholder: "Enter suburb" } %>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.label :country %>
          <%= f.input :country, collection: CS.countries.sort.collect { |x| [x[1], x[0]] }, prompt: "Select Country", label: false, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.label :state %>
          <%= f.input :state, collection: [], prompt: "Select State", label: false, input_html: { class: "form-control" } %>
        </div>

        <div class="form-group col-md-4 col-sm-4 col-xs-12 pad-left">
          <%= f.input :postal_code, label: "Postcode", input_html: { class: "form-control", placeholder: "Enter postcode" } %>
        </div>
        <div class="form-group col-md-4 col-sm-4 col-xs-12">
          <%= f.input :phonenumber, input_html: { class: "form-control", placeholder: "Enter phone number" } %>
          <%= f.input :phone, as: :hidden %>
        </div>
        <div class="clearfix"></div>
        <%= f.submit "Update", class: "btn save-btn" %>
      <% end %>
    </div> <!-- healthcare-form -->
</div> <!-- content -->

<script>
$(document).on("turbolinks:load", function(){
  $('#user_country').on('change', function(){
    var country = $(this).val();
    $.get( "<%= states_dashboard_index_path %>", { country: country } )
    .done(function( data ) {
      if(data.states.length > 0){
        var state_select = $("#user_state").html("");
        data.states.forEach(function(value, index){
          state_select.append("<option value='"+value[0]+"'>"+value[1]+"</option>")
        })
        state_select.val("<%= @healthcare_professional.state %>");
      }
    });
  });

  $("#edit_user").validate({
    rules: {
      "user[roles]": { required: true },
      "user[phonenumber]": {
        required: true,
        // phoneUS: true
      }
    },
    errorPlacement: function(error, element) {
      if (element.parent().parent().hasClass('radio_buttons')){
          element = element.parent().parent();
      }
      error.insertAfter(element);
    }
  });

  $('#user_country').change();

  $('#user_roles').val("<%= @role %>");

  $('#user_phonenumber').intlTelInput({
    initialCountry: "auto",
    formatOnInit: true,
    separateDialCode: true,
    utilsScript: "assets/libphonenumber/utils.js",
    geoIpLookup: function(callback) {
      $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
        var countryCode = (resp && resp.country) ? resp.country : "";
        callback(countryCode);
      });
    }
  });

  $('#user_phonenumber').on('change', function(){
    $('#user_phone').val($('#user_phonenumber').intlTelInput("getNumber"));
  })

  if("<%= @healthcare_professional.phone.present? %>" == "true"){
    $("#user_phonenumber").intlTelInput("setNumber", "<%= @healthcare_professional.phone %>");
  }
})
</script>
