<div id="content" class="exist-block">
  <%= render partial: '/shared/mobile_sidebar' %>

  <div class="heading">
    <h2>Healthcare Professionals</h2>
  </div>

  <div class="existing-table">
     <table class="table table-hover footable">
      <thead>
        <tr>
          <th>ID </th>
          <th>Name</th>
          <th data-hide="phone">Email</th>
          <th data-hide="phone">Action</th>
        </tr>
      </thead>
      <tbody>
        <% @healthcare_professionals.each do |healthcare| %>
          <tr>
            <td><%= healthcare.uid %></td>
            <td><%= healthcare.fullname %></td>
            <td><%= healthcare.email %></td>
            <td><%= link_to "EDIT", edit_healthcare_professional_path(healthcare.id), class: "btn btn-default" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- existing table -->
  <%= paginate @healthcare_professionals %>
</div>

<script type="text/javascript">
  $('.footable').footable({
    calculateWidthOverride: function() {
      return { width: $(window).width() };
    }
  });
</script>

