<!doctype html>
<html style="height: 100%">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email</title>
  </head>
  <body style="margin: 0; padding: 0; height: 100%;font-family: sans-serif;">
    <div style="background: #f7f6fb; height: 100%; width: 100%;">
      <div style="background: #534f70; display: inline-block; width: 100%;">
        <div style="text-align: center;padding: 85px 0 135px 0;">
          <%= image_tag "#{root_url}/assets/mail-logo.png" %>
        </div>
      </div>

      <div style="background: #fff;padding: 35px 0px 20px 0px;color: #534f70; width: 600px;margin: 0 auto; position: relative;top: -70px;max-width: 100%;line-height: 25px;">
        <div style="font-size: 24px;text-align: center;">Hello <span style="color: #47d75c;"> <%= @patient.fullname %></span> </div>
        <p style="font-weight: bold;margin-top: 25px;font-size: 24px;text-align: center;">Welcome to the KinectHub</p>
        <p style="text-align: center;">
          <%= image_tag "#{root_url}/assets/kinect-icon.png" %>
        </p>
        <% unless @otp.present? %>
          <p style="text-align: center;font-weight: bold;font-size: 18px;">Your account has been created for consultation <br> in KinectHub.</p>
          <p style="text-align: center;font-size: 18px;">To process further please login with your phone number <br> using the following link. </p>
        <% else %>
          <p style="text-align: center;font-size: 18px;"> Your one time password is <%= @otp %></p>
          <p style="text-align: center;font-size: 18px;">To process further please login with your phone number <br> using the following link. </p>
        <% end %>
        <p style="text-align: center;margin-top: 50px;margin-bottom: 40px;">
          <%= link_to 'Login here', @url, style: "background: #47d75c;color: #fff;padding: 10px 20px;border-radius: 4px;text-decoration: none;font-size: 18px;" %>
        </p>
      </div>
      <p style="text-align: center;color: #534f70;font-size: 16px;margin-bottom: 0;position: relative;top: -40px;">Thanks!</p>
      <p style="text-align: center;font-weight: bold;color: #534f70;font-size: 16px;margin-top: 10px;position: relative;
      top: -40px;">Kinect Team</p>
    </div>
  </body>
</html>
