// Place all the styles related to the Clinics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.charity-block ul {
  padding: 0;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.charity-block ul li {
  list-style-type: none;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.charity-block ul li a img {
  margin-right: 15px;
}
.charity-block ul li a {
  width: 100%;
  display: inline-block;
}
.step-heading p {
  font-family: 'proxima_nova_condensedSBd';
  font-size: 20px;
}
.step-heading h2 {
  margin-bottom: 0;
}
.clinic-blk {
  padding: 0;
  width: 100%;
  display: inline-block;
  margin-top: 15px;
}
.clinic-blk .inner-div {
  list-style-type: none;
  display: block;
  background: #fff;
  border-radius: 10px;
  padding: 15px 10px 15px 20px;
  font-size: 15px;
  margin-bottom: 15px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.clinic-blk li a img {
  margin-right: 15px;
}
.clinic-blk li a {
  width: 100%;
  display: inline-block;
}
.border-right {
  width: 2px;
  height: 35px;
  background: #e7e7ea;
  position: relative;
  top: 5px;
}
.clinic-ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: inline-block;
}
.clinic-ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  font-size: 18px;
  text-transform: uppercase;
  vertical-align: top;
}
.strong-text {
  font-size: 30px;
  font-weight: bold;
}
.inner-div a {
  display: inline-block;
  width: 100%;
}
.or-section {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #534f70;
  margin-top: 20px;
}
.or-section .or span {
  border: 1px solid #534f70;
  border-radius: 50%;
  padding: 5px;
  position: relative;
}
.or-section .or {
  position: relative;
}
.or-section {
  width: 100%;
  display: inline-block;
  text-align: center;
  color: #534f70;
  margin-bottom: 20px;
  border-top: 1px #000 solid;
  line-height: 0;
}
.or-section .or span {
  border: 1px solid #534f70;
  background: #f6f6fa;
  border-radius: 50%;
  padding: 5px;
  position: relative;
}
.or-section .or {
  display: inline-block;
  position: relative;
}

.click-btn {
  display: table;
  margin: 40px auto;
}

.click-btn a {
  color: #fff;
  background: #47d75c;
  padding: 10px 35px;
  border-radius: 4px;
}
.back-btn {
  margin-bottom: 15px;
}
.back-btn a {
  color: #47d75c;
}
.back-btn a img {
  position: relative;
  top: -2px;
  margin-right: 3px;
}
.outcome-btn a {
  color: #fff;
  background: #47d75c;
  padding: 5px 20px;
  border-radius: 4px;
}
.clinic-blk.list-ul {
  margin-top: 0;
}
.row.row-margin {
  margin: 0;
}
.patient-list table.table tr th {
  border-bottom: 0;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-transform: uppercase;
}
.patient-list table.table tr td {
  border-top: 0;
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}
.patient-list table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}

/* modal css */

.token_modal .modal-dialog {
  width: 500px;
  max-width: 100%;
}
.token_modal .modal-header {
  border-bottom: 0;
}
.token_modal .modal-footer {
  background: #f9f7fa;
  text-align: center;
  border-top: 0;
}
.token_modal .modal-body {
  padding: 10px;
  text-align: center;
  width: 78%;
  margin: 0 auto;
}
.token_modal .modal-body input.form-control {
  border: 1px solid #d8d5de;
  background: #fff;
  height: 45px;
}
.token_modal .modal-body {
  text-align: left;
}
.token_modal .modal-body h2 {
  margin-top: 0;
  text-align: center;
}
.purchase-btn .purchase-submit {
  background: #47d75c;
  color: #fff;
  padding: 10px 30px;
}
.token_modal .modal-body form {
  padding-top: 25px;
  padding-bottom: 25px;
}
.token_modal .modal-body label {
  font-weight: normal;
}
.purchase-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}
.token_modal button.close {
  opacity: 1;
}
.token_modal button.close span {
  background: #a9a7b7;
  opacity: 1;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  color: #fff;
}
.modal.in.token_modal {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.add-tokens {
  margin-left: 15px;
}
span.error {
  color: red;
  letter-spacing: 1px;
  font-size: 16px;
}

/*media queries */

@media(max-width: 767px) {
  .clinic-blk .inner-div {
    padding: 15px 5px 15px 5px;
  }
  .clinic-ul li {
    margin-right: 5px;
  }
  .strong-text {
    font-size: 18px;
  }
  .clinic-ul li {
    font-size: 13px;
  }
  .or-section .or:before, .or-section .or:after {
    width: 100px;
  }
  .click-btn {
    padding-bottom: 20px;
  }
  .token_modal .modal-dialog {
    width: 100%;
    margin: 0;
  }
  .patient-list.table-responsive {
    border: 0;
  }
  .clinic-ul {
    text-align: left;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  .clinic-ul {
    text-align: left;
  }
  .clinic-ul li {
    margin-right: 2px;
  }
}
