// Place all the styles related to the Consultations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.patient-form ul li.doctor-list {
  width: 30%
}
#new-consultation-modal .modal-body h2 {
  margin-top: 0;
}
#new-consultation-modal input {
  padding-left: 15px;
}
#new-consultation-modal .purchase-btn {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
#new-consultation-modal .purchase-btn input {
  border-radius: 5px;
}
#new-consultation-modal input {
  padding-left: 15px;
  height: 45px;
}
