.form-horizontal .form-group {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.simple_form .error, .form-group .error{
  display: inline-block;
  margin-right: 20px;
  color: red;
}

.simple_form abbr{
  display: none;
}

.simple_form select{
  height: 45px;
}

.transaction-toggle, .p-transaction-toggle{
  display: none;
}

.simple_form .intl-tel-input{
  display: block;
}

.new_patient .intl-tel-input.separate-dial-code .selected-dial-code {
  padding-left: 12px;
}

.display_none{
  display: none;
}

select.disease, .treatment_questions_text {
  height: 45px;
}
