.diagnosis-form label {
  font-weight: normal;
}
.diagnosis-form input.form-control {
  height: 45px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.diagnosis-form textarea {
  min-height: 120px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.diagnosis-form {
  width: 100%;
  display: inline-block;
}
.diagnosis {
  background: #fff;
  letter-spacing: 1px;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-bottom: 50px;
}
#content {
  padding: 0;
}
.diagnosis-heading {
  width: 100%;
  display: inline-block;
 }
 .diagnosis-heading p {
  color: #47d75c;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
}
.examination-form label {
  font-weight: normal;
}
.examination-form input.form-control {
  height: 45px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.examination-form textarea {
  min-height: 100px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.examination-form {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
}

.diagnos-form label {
  font-weight: normal;
}
#datepicker input {
  background: #fff;
  border-right: 0;
}
.diagnos-form input.form-control {
  height: 45px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.border-bottom {
  border-bottom: 1px solid #d8d5de;
  width: 97%;
  display: table;
  margin: 0 auto;
}
.diagnosis-form .form-group {
  padding-top: 20px;
}

@media(max-width: 767px) {
  #sidebarCollapse {
    margin-left: 20px;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  .diagnosis-heading p {
    padding-left: 20px;
  }
}
