
.examination-heading {
  width: 100%;
  display: inline-block;
 }
 .examination-heading p {
  color: #47d75c;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
}
.physical-examination {
  background: #fff;
  padding: 20px;
  padding-top: 5px;
  letter-spacing: 1px;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 10px;
}

.examination-form {
  label {
    font-weight: normal;
  }
  .examination-radio label {
    width: 100%;
  }
}
.examination-form input.form-control {
  height: 45px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.examination-form textarea {
  min-height: 100px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.examination-form {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
}
.exam-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.exam-select, .exam-select select {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 45px;
  border: 1px solid #d8d5de;
}
.exam-select .fa.fa-sort-desc {
  position: absolute;
  top: 10px;
}
select:focus {
  outline: none;
}
.exam-select select {
  height: 45px;
  padding: 8px 0 5px 10px;
  background: #f6f6fa;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

@-moz-document url-prefix() {
  .exam-select select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector {
  .exam-select {
    background: none;
  }
}
.bp {
  color: #534f70;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  text-align: left;
  width: 100%;
  display: inline-block;
  padding-left: 15px;
}
.border-bottom {
  border-bottom: 1px solid #d8d5de;
  width: 96%;
  display: table;
  margin: 0 auto;
  padding-top: 12px;
}
.custom-radio.lung-radio {
  padding-top: 0;
}
.lung-diagram {
  padding-top: 20px;
}
.exam-form label {
  font-weight: normal;
}
#datepicker input {
  background: #fff;
}
.exam-form input.form-control {
  height: 45px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.physical-examination form .radio {
  margin-top: 10px;
}

@media (max-width: 767px) {
  .physical-examination {
    padding-left: 0;
    padding-right: 0;
  }
  .physical-examination .text-right, .diagnosis-form .text-right {
    text-align: left;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  .examination-heading p {
    padding-left: 15px;
  }
}
