html body {
  background: none !important;
}
body header {
  height: 60px;
  width: 100%;
  display: inherit;
}
header .logo {
  min-width: 250px;
  max-width: 250px;
  float: left;
  padding: 20px;
  border-right: 3px solid #f6f6fa;
  border-bottom: 3px solid #f6f6fa;
}
ul.user-dropdown {
  float: right;
}
ul.user-dropdown li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
}
ul.user-dropdown li a:focus {
  text-decoration: none;
}
li.help a span {
  margin-left: 15px;
  position: relative;
  top: 2px;
}
li.help {
  border-right: 2px solid #f6f6fa;;
}
.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #534f70;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}
.user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
header .dropdown span.glyphicon.glyphicon-menu-down {
  top: 3px;
}
header .dropdown .fa-angle-down {
  font-size: 21px;
  padding-top: 2px;
  float: right;
  padding-left: 5px;
}

ul.logout-btn {
  text-align: left;
  width: 100%;
  right: 0;
  left: inherit;
}
ul li.logout-li {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
}
ul li.logout-li a{
  padding: 0;
  font-size: 16px;
}
ul li.logout-li a:focus {
  text-decoration: none;
}


@media (max-width: 768px) {
  header .logo {
    min-width: 90px;
    padding: 20px 5px 20px 5px;
    border-right: 0;
    border-bottom: 0;
    max-width: 90px;
  }
  header .logo img {
    width: 100%;
  }
  ul.user-dropdown li {
    padding: 0;
    font-size: 13px;
  }
  ul.user-dropdown {
    padding: 20px 10px 20px 0;
  }
  li.help a span {
    margin-left: 5px;
  }
  .user-image {
    margin-left: 0;
    margin-right: 0;
  }
  header ul li.logout-li a{
    padding: 5px 10px;
    font-size: 16px;
  }
}
