// Place all the styles related to the healthcare_professionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*healthcare css */

.healthcare-form {
  margin-top: 25px;
}
.healthcare-form form input.form-control {
  height: 45px;
  border: 1px solid #d8d5de;
}
.healthcare-form form label {
  color: #534f70;
  font-size: 16px;
  font-family: 'proxima_nova_cn_rgregular';
  font-weight: normal;
  letter-spacing: 1px;
}
.healthcare-form form input.save-btn {
  background-color: #47d75c;
  border: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  padding: 8px 0px;
  width: 120px;
  margin-right: 20px;
  margin-top: 20px;
}
.healthcare-form form input.save-btn:focus {
  background-color: #47d75c;
  border: 1px solid transparent;
}
.healthcare-form form input.update-btn {
  background-color: #fff;
  border: 1px solid #47d75c;
  font-size: 16px;
  padding: 8px 0px;
  color: #47d75c;
  width: 120px;
  margin-top: 20px;
}
.styled-select.custom-select {
  width: 100%;
  margin-top: 0 !important;
  height: 45px;
  border: 1px solid #d8d5de;
  background: #fff;
  box-shadow: none;
}
.styled-select.custom-select select {
  height: 45px;
  box-shadow: none;
}
.styled-select.custom-select .fa.fa-sort-desc {
  top: 10px;
  right: 20px;
}
#datepicker{
  width:100%;
}
#datepicker > span:hover{cursor: pointer;}

.healthcare-form form input.form-control.custom-date, .healthcare-form #datepicker input {
  background: #fff;
  border: 1px solid #d8d5de;
  border-radius: 4px;
}
.custom-addon {
  background: #fff;
}
.custom-addon img {
  position: relative;
  top: 1px;
  right: 5px;
}

/* custom radio button css */

.custom-radio {
  padding: 0;
  padding-top: 13px;
}
.custom-radio li{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #1fa5ff;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #1fa5ff;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.healthcare-form form input.save-btn.record-btn, .healthcare-form form input.update-btn.record-btn{
  width: 170px;
}

@media(max-width: 767px) {
  .healthcare-form form input.save-btn, .healthcare-form form input.update-btn {
    font-size: 15px;
  }
  .healthcare-form form input.save-btn.record-btn, .healthcare-form form input.update-btn.record-btn {
    width: 130px;
  }
  .healthcare-form form input.save-btn {
    margin-right: 15px;
  }
}

body .patient-blocks .blocks .patient-icons {
  position: inherit;
  float: left;
  top: -5px;
}
body .patient-blocks .blocks .patient-icons img {
  width: 100%;
  padding-left: 25px;
}

body .footable.breakpoint>tbody>tr>td>span.footable-toggle:before {
  color: #47d75c;
}
.new-block {
  padding-top: 20px !important;
}
.user-patient-url label {
  margin-bottom: 10px;
}
.healthcare-form .intl-tel-input .selected-flag {
  height: 45px;
  line-height: 45px;
}
.intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 {
  width: 100%;
}


/* safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  ::i-block-chrome, .wrapper {
    height: 100%;
  }
  ::i-block-chrome, .welcome-block {
    padding-top: 150px;
  }
  ::i-block-chrome, .user-patient-url {
    width: 45%;
    margin: 0 auto;
  }
  ::i-block-chrome, .user-patient-url label {
    margin-bottom: 10px;
  }
  ::i-block-chrome, .new-block {
    text-align: center;
    padding-top: 150px !important;
  }
  ::i-block-chrome, #content {
    width: 87%;
  }
  ::i-block-chrome, #sidebar {
    min-width: inherit;
    max-width: inherit;
    width: 13%;
  }
  ::i-block-chrome, .welcome-form {
    height: 100%;
  }
}

@media (max-width: 1024px) and (min-width: 768px){
  body  .patient-blocks .blocks .patient-icons {
    left: 0;
    position: inherit;
    float: left;
    top: -5px;
  }
}
