// Place all the styles related to the histories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* History Form css */

.doctorid {
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  height: 45px;
}
.doctorid,
.doctorid select {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}
.doctorid .fa.fa-sort-desc {
  position: absolute;
  top: 10px;
  right: 20px;
}
select:focus {
  outline: none;
}
.doctorid select {
  padding: 8px 0 5px 10px;
  background: transparent;
  border: 1px solid #d8d5de;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  height: 45px;
  box-shadow: none;
  background: #fff;
}

@-moz-document url-prefix() {
  .doctorid select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector {
  .doctorid {
    background: none;
  }
}

.history-form input.form-control {
  height: 45px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.history-heading {
  width: 100%;
  display: inline-block;
 }
 .history-heading p {
  color: #47d75c;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
}
.patient-history {
  background: #fff;
  padding: 20px;
  padding-top: 5px;
  letter-spacing: 1px;
  width: 100%;
  display: inline-block;
  padding-bottom: 0;
}
.custom-radio {
  padding: 0;
}
.custom-radio li{
  display: inline-block;
  list-style-type: none;
  padding-right: 20px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #534f70;
  margin-right: 10px;
}

[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 18px;
  height: 18px;
  border: 2px solid #47d75c;
  border-radius: 100%;
  background: #f6f6fa;
}
[type="radio"]:checked + label:before {
  border: 2px solid #47d75c;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #47d75c;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.custom-radio label{
  font-weight: normal;
}
/*.question-block .input.radio_buttons, .medical-block .input.radio_buttons, .lifestyle-block .input.radio_buttons, .lung-diagram .input.radio_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  label.radio_buttons {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
  span {
    &:last-child{
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}*/
.question-block, .medical-block, .lifestyle-block {
  label {
    font-weight: normal;
  }
}
.orientation span.radio {
  margin-right: 10px;
  display: inline-block;
}
.question-block, .medical-block, .lifestyle-block {
  .radio {
    display: inline-block;
  }
}
.orientation span.radio:last-child {
  margin-left: 0 !important;
  margin-right: 0;
}
.main-block .radio {
  margin-top: 0;
  display: inline-block;
}
.integer input {
  margin-bottom: 15px;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.history-form label {
  font-weight: normal;
}
.question-block, .medical-block, .lifestyle-block {
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #d8d5de;
  padding-top: 15px;
  padding-bottom: 5px;
}
.question-block p, .medical-block p, .lifestyle-block p {
  margin-bottom: 0;
}
.question-block:last-child, .medical-block:last-child, .lifestyle-block:last-child {
  border-bottom: 0;
}
.patient-history.lifestyle-history {
  margin-bottom: 30px;
}
#content {
  padding: 0;
}
.heading h2 {
  padding-left: 20px;
  padding-top: 20px;
}
.main-block {
  background: #f6f6fa;
}
.patient-details {
  width: 100%;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
}
.patient-details p {
  font-size: 18px;
  margin-bottom: 0;
  letter-spacing: 1px;
}
.patient-details p span {
  font-family: 'proxima_nova_rgbold';
}
.blank-div {
  width: 100%;
  height: 15px;
  display: inline-block;
  background: #fff;
}
.history-btn {
  background: #f6f6fa;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  top: -10px;
  border: 1px solid #d8d5de;
}
.input-group-addon.custom-addon.history-addon {
  padding: 0;
}
.lab-heading {
  color: #47d75c;
  padding-bottom: 15px;
}
.question-block.border-none, .medical-block.border-none {
  border-bottom: 0;
}
.lab-heading-ultra {
  padding-top: 15px;
  padding-bottom: 0;
  color: #47d75c;
}
.diagnosis .border-bottom {
  padding-top: 0;
}
.diagnosis-form .form-group {
  margin-bottom: 0;
  padding-bottom: 10px;
}
#content.history-content {
  padding: 0;
}

@media(max-width: 767px) {
  .patient-history {
    padding-left: 0;
    padding-right: 0;
  }
  .question-block .text-right, .medical-block .text-right, .lifestyle-block .text-right {
  text-align: left;
  }
  .question-block p, .medical-block p, .lifestyle-block p {
    margin-bottom: 10px;
  }
  #sidebarCollapse {
    margin-left: 15px;
  }
  .heading h2 {
    padding-top: 10px;
  }
  .patient-details {
    margin-top: 0;
  }
  .lab-heading {
    color: #1fa5ff;
    padding-bottom: 15px;
  }
  .question-block.border-none, .medical-block.border-none {
    border-bottom: 0;
  }
  .lab-heading-ultra {
    padding-top: 15px;
    padding-bottom: 0;
    color: #1fa5ff;
    padding-left: 15px;
  }
  .question-block, .medical-block, .lifestyle-block {
    padding-left: 10px;
  }
  #content {
    padding: 0 !important;
  }
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    margin-right: 5px;
  }
}
@media(min-width: 768px) and (max-width: 1024px) {
  .history-heading p {
    padding-left: 15px;
  }
}
