.lab-result-table .table>thead>tr>th {
  border-bottom: 0;
  font-family: 'proxima_nova_condensedSBd';
  font-size: 16px;
}
.lab-result-table .table>tbody>tr>td, .lab-result-table .table>tbody>tr>th, .lab-result-table .table>tfoot>tr>td, .lab-result-table .table>tfoot>tr>th, .lab-result-table .table>thead>tr>td, .lab-result-table .table>thead>tr>th {
  border-top: 0;
  vertical-align: middle;
  padding-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.lab-result-table .table tr {
  background: #f6f6fa;
}
.lab-result-table .table thead tr {
  background: transparent;
}
.lab-result-table .table th {
  text-transform: uppercase;
  padding-bottom: 0;
}
.lab-result-table .table thead tr {
  background: transparent;
}
.lab-result-table .table thead tr th {
  padding-top: 0;
  padding-bottom: 0;
}
.lab-result-table .table-hover>tbody>tr:hover {
    background-color: #e8e9f4;
}
.lab-result-table tr td a.btn-default {
  border-color: #5e5b7a;
  letter-spacing: 1px;
}
.lab-result-table table {
  border-collapse: separate;
  border-spacing: 0px 5px;
}
.lab-result-table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.lab-result-table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.patient-form ul {
  padding: 0;
  margin-bottom: 0;
  background: #fff;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\002b" !important;
  color: #1fa5ff;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  font-family: 'Glyphicons Halflings' !important;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\2212" !important;
}
.blank-div {
  width: 100%;
  height: 15px;
  display: inline-block;
  background: #fff;
}
.pathology {
  color: #47d75c;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
}
.result-date {
  float: right;
  font-size: 18px;
}
.labtable-heading {
  width: 100%;
  display: inline-block;
}
.lab-result-table {
  background: #fff;
  padding: 20px;
  padding-top: 5px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.lab-result-table table {
  margin-bottom: 0;
}
.diagnosis-table .table>tbody>tr>td, .diagnosis-table .table>tbody>tr>th, .diagnosis-table .table>tfoot>tr>td, .diagnosis-table .table>tfoot>tr>th, .diagnosis-table .table>thead>tr>td, .diagnosis-table .table>thead>tr>th {
  padding-top: 12px;
  padding-bottom: 12px;
}
.lab-result-table.result-table table tr th:first-child {
  width: 26%;
}
.result-btn a{
  background: #1fa5ff;
  font-size: 16px;
  color: #fff;
  border: 0;
  padding: 10px 25px 10px 25px;
}
.result-btn {
  margin-bottom: 50px;
  margin-top: 30px;
}
li.active .laboratory-results-icon {
  background: url(../images/laboratory-results-active.png);
}

@media(max-width: 768px) {
  .lab-result-table .table>tbody>tr>td, .lab-result-table .table>tbody>tr>th, .lab-result-table .table>tfoot>tr>td, .lab-result-table .table>tfoot>tr>th, .lab-result-table .table>thead>tr>td, .lab-result-table .table>thead>tr>th {
    padding-left: 10px;
    padding-right: 0;
  }
  .result-table .table>tbody>tr>td, .result-table .table>tbody>tr>th, .result-table .table>tfoot>tr>td, .result-table .table>tfoot>tr>th, .result-table .table>thead>tr>td, .result-table .table>thead>tr>th {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .lab-result-table {
    padding-bottom: 0;
  }
  .lab-result-table table {
    margin-bottom: 0;
  }
  .imaging-table .table>tbody>tr>td, .imaging-table .table>tbody>tr>th, .imaging-table .table>tfoot>tr>td, .imaging-table .table>tfoot>tr>th, .imaging-table .table>thead>tr>td, .imaging-table .table>thead>tr>th {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .result-btn {
    text-align: center;
  }
  .result-btn a {
    padding: 10px 5px 10px 5px;
  }
}

@media(min-width: 1000px) and (max-width: 1200px) {
  .lab-result-table.result-table table tr th:first-child {
    width: 12%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .pathology {
    padding-left: 15px;
  }
  .result-date {
    padding-right: 15px;
  }
}
