// Place all the styles related to the Patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.resp-pad {
  .radio_buttons {
    width: 100%;
  }
}
.calendar-icon {
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 7px;
  z-index: 99;
}

/* existing patient page css */

.existing-table .table>thead>tr>th {
  border-bottom: 0;
  font-family: 'proxima_nova_condensedSBd';
  font-size: 18px;
}
.existing-table .table>thead>tr>th:nth-of-type(2) {
  /*text-align: center;*/
}
.existing-table .table>tbody>tr>td, .existing-table .table>tbody>tr>th, .existing-table .table>tfoot>tr>td, .existing-table .table>tfoot>tr>th, .existing-table .table>thead>tr>td, .existing-table .table>thead>tr>th {
  border-top: 0;
  vertical-align: middle;
}
.existing-table .table tr {
  background: #fff;
}
.existing-table .table th {
  text-transform: uppercase;
  padding-bottom: 0;
}
.existing-table .table thead tr {
  background: transparent;
}
.existing-table .table-hover>tbody>tr:hover {
    background-color: #e8e9f4;
}
.user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #534f70;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-left: 5px;
  margin-right: 5px;
}
.user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.existing-table tr td a.btn-default {
  border-color: #5e5b7a;
  letter-spacing: 1px;
}
.existing-table table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
.existing-table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.existing-table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.patient-form ul {
  padding: 0;
  margin-bottom: 0;
  background: #fff;
}
.patient-form ul li {
  display: inline-block;
  list-style-type: none;
  width: 24%;
  position: relative;
  vertical-align: top;
}
.patient-form ul li:after {
  width: 1px;
  height: 35px;
  content: "";
  float: left;
  background: #a9a7b7;
  position: absolute;
  top: 6px;
}
.patient-form ul li:first-child:after, .patient-form ul li:last-child:after {
  background: transparent;
}
.patient-form {
  background: #e8e9f4;
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.patient-form ul li input.form-control {
  border: 0;
  border-radius: 0;
  height: 45px;
}
.patient-form ul li input.form-control:focus {
  box-shadow: none;
}
input.search-btn {
  background: #47d75c;
  border: 0;
  border-radius: 0;
  height: 45px;
  vertical-align: top;
  line-height: 37px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
input.search-btn:hover, input.search-btn:active, input.search-btn:focus {
  background: #47d75c !important;
  outline: 0 !important;
}
#content.exist-block .heading h2 {
  padding-left: 0;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\002b" !important;
  color: #1fa5ff;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  font-family: 'Glyphicons Halflings' !important;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\2212" !important;
}
.user-image.existing-user {
  margin-right: 20px;
}
.patient-form ul li.search-button {
  float: right;
}
.new-patient .radio {
  display: inline-block;
}

/* Patient - profile css */

.patient-info .heading h2 {
  text-align: center;
}
.patient-tabs .nav-tabs {
  border: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}
.patient-tabs .nav-tabs li {
  margin: 0;
  padding: 0 38px;
  float: none;
  display: inline-block;
  position: relative;
  left: 20px;
}
.patient-tabs .nav-tabs li a {
  float: left;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #534f70;
  float: none;
  display: inline-block;
  position: relative;
  padding: 0;
}
.patient-tabs {
  width: 100%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}
.patient-tabs li.active a,.patient-tabs li.active a:focus {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #47d75c;
}
.patient-tabs li h3 {
  color: #534f70;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2px 0;
  width: 100%;
}
.patient-tabs .nav-tabs li.active a:hover {
  background: #47d75c;
}
.patient-tabs li a:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #534f70;
  float: right;
  position: absolute;
  top: 8px;
  left: 30px
}
.patient-tabs li:last-child a:after {
  width: 0px;
}
.patient-info .history a:after {
  width: 125px !important;
}
.patient-info .blank-div {
  height: 5px;
}
.patient-diagnosis {
  background: #fff;
  letter-spacing: 1px;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 10px;
}
.patient-info .treatmentform-heading p {
  padding-left: 15px;
  font-size: 16px;
  font-family: 'proxima_nova_cn_rgregular';
}
.patient-info .treatment-form .form-control {
  height: 45px;
  background: #f6f6fa;
  border: 1px solid #d8d5de;
}
.patient-info .transaction-table .table>thead>tr>th:nth-of-type(2) {
  text-align: left;
}
.patient-info .transaction-main-block {
  padding: 20px 0;
}
.patient-info .table td{
  padding-top: 15px;
  padding-bottom: 15px;
}
.patient-info .diagnosis-heading p, .patient-info .treatment-heading p {
  color: #47d75c;
}
.patient-info .transaction-search a.search-button {
  background: #47d75c;
}
.patient-info [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
  background: #47d75c;
}
.patient-info [type="radio"]:checked + label:before {
  border: 2px solid #47d75c;
}
.patient-info [type="radio"]:not(:checked) + label:before {
  border: 2px solid #47d75c;
}
.patient-image {
  width: 60px;
  height: 60px;
  background: #534f70;
  border-radius: 50%;
  display: inline-block;
  float: left;
  margin-right: 15px;
}
.patient-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.name-block {
  font-size: 25px;
  font-family: 'proxima_nova_condensedSBd';
}
.userinfo-block {
  width: 100%;
  display: inline-block;
  padding-bottom: 30px;
}
.location-icon {
  margin-right: 15px;
}
.panel-title>a, .panel-title>a:active{
  display: block;
  padding: 10px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.patient-info .main-block {
  padding-bottom: 20px;
}

/* End patient profile css */
/*media queries */

@media(max-width: 767px) {
  .heading h2 {
    font-size: 24px;
  }
  .custom-radio li {
    padding-right: 10px;
  }
  .buttons {
    text-align: center;
  }
  .resp-pad {
    padding: 0;
  }
  .patient-form ul li {
    width: 100%;
  }
  .patient-form ul li:after {
    background: transparent;
  }
  .patient-tabs .nav-tabs li {
    padding: 0 35px;
    margin-top: 15px;
    left: 0;
  }
  .patient-info .history a:after {
    width: 115px !important;
  }
  .patient-tabs .nav-tabs li a {
    width: 17px;
    height: 17px;
  }
  .patient-tabs li.active a, .patient-tabs li.active a:focus {
    width: 17px;
    height: 17px;
  }
  .patient-info .main-block {
    padding: 20px 0;
  }
  .name_image {
    margin-bottom: 20px;
  }
  .patient-info .address {
    float: right;
  }
  .address-block {
    text-align: left;
    float: left;
  }
  html body .new-patient#content {
    padding: 20px !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .custom-radio li {
    padding-right: 0;
  }
  .main-block {
    padding-left: 0;
    padding-right: 0;
  }
  .patient-form ul li {
    width: 19.5%;
  }
  .new-patient [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    margin-right: 5px;
  }
}

@media(min-width: 1000px) and (max-width: 1200px) {
  .custom-radio li {
    padding-right: 0;
  }
  .patient-form ul li {
    width: 19.6%;
  }
}
@media(min-width: 768px) {
  html body .pad-none {
    padding: 0;
  }
  html body .pad-left {
    padding-left: 0;
  }
  html body .pad-right {
    padding-right: 0;
  }
}
.panel-heading span {
  margin-top: -20px;
  font-size: 15px;
}

.login-otp {
  display: none !important;
}
