#content .navbar {
  padding: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  border-bottom: 3px solid #f6f6fa
}

#sidebar ul.components {
  padding: 10px 0;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 13px;
  font-size: 18px;
  display: block;
  color: #534f70;
  font-family: 'proxima_nova_condensedSBd';
  padding-left: 20px !important;
}
#sidebar ul li a:hover {
  color: #fff;
  background: #47d75c;
}
#sidebar ul.collapse li a:hover {
  color: #47d75c;
  background: #e8f6ff;
}
#sidebar a:hover[aria-expanded="false"]::before, #sidebar a:focus[aria-expanded="true"]::before {
  color: #fff;
}

#sidebar ul li.active > a, #sidebar a[aria-expanded="true"] {
  color: #fff;
  background: #47d75c;
}


#sidebar a[data-toggle="collapse"] {
  position: relative;
}

#sidebar a[aria-expanded="false"]::before, #sidebar a[aria-expanded="true"]::before {
  content: '\e258';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 15px;
  color: #534f70;
  top: 14px;
}
#sidebar li.active a[aria-expanded="false"]::before, #sidebar li.active a[aria-expanded="true"]::before {
  color: #fff;
}
#sidebar a[aria-expanded="true"]::before {
  content: '\e259';
}


ul ul a {
  font-size: 0.9em;
}
a.download {
  background: #fff;
  color: #7386D5;
}

a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
#sidebarCollapse {
  display: none;
}
#sidebarCollapse.btn-primary {
  background: #47d75c;
}
#sidebarCollapse i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
#sidebar .list-unstyled li.active ul li a {
  font-size: 15px !important;
  color: #534f70;
  padding-left: 15px !important;
}
#sidebar .list-unstyled li.active ul li.active a {
  color: #47d75c;
  background: #e8f6ff;
  border-left: 5px solid #47d75c;
}
.menu-name {
  vertical-align: top;
  position: relative;
  top: 3px;
}
.menu-icons {
  width: 26px;
  height: 26px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
li.active .dashboard-icon {
  background: url("dashboard-active.png");
}
.dashboard-icon {
  background: url("dashboard-icon.png");
}
.history-icon {
  background: url("history.png");
}
.examination-icon {
  background: url("examination.png");
}
.laboratory-icon {
  background: url("laboratory.png");
}
p.laboratory-results-icon {
  background: url("laboratory-results.png");
}
.diagnosis-icon {
  background: url("diagnosis.png");
}
.treatment-icon {
  background: url("treatment.png");
}
.general-icon {
  background: url("general-notes.png");
}
.withdraw-icon {
  background: url("withdraw-icon.png");
}
.transaction-icon {
  background: url("transaction.png");
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  min-height: 93vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #sidebarCollapse span {
    display: none;
  }
  #sidebarCollapse {
    display: block;
  }
  .wrapper #content .navbar {
    display: block;
  }
}
