@font-face {
  font-family: 'proxima_nova_cn_rgregular';
  src: font-url('proximanovacond-regular-webfont.woff2') format('woff2'),
       font-url('proximanovacond-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sf_pro_displayregular';
  src: font-url('sf-pro-display-regular-webfont.woff2') format('woff2'),
       font-url('sf-pro-display-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: font-url('proximanova-bold-webfont.woff2') format('woff2'),
       font-url('proximanova-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_condensedSBd';
  src: font-url('proximanovacond-semibold-webfont.woff2') format('woff2'),
       font-url('proximanovacond-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('glyphicons-halflings-regular.woff2') format('woff2'),
       font-url('glyphicons-halflings-regular.woff') format('woff'),
       font-url('glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}
html {
  height: 100%;
}
html body {
  background-size: 100%;
  background-repeat: no-repeat;
  color: #534f70;
  display: inline-block;
  font-family: 'sf_pro_displayregular';
  font-size: 16px;
  height: 100%;
  width: 100%;
}
html body a {
  color: #534f70;
  text-decoration: none;
}
html body a:hover {
  text-decoration: none;
}
html body a:focus {
  outline: 0;
}
a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
.row.row-margin {
  margin: 0;
}
.welcome-form {
  display: flex;
}
.login-container {
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
}
/* Login Modal css */
/*.login-btn {
  position: absolute;
  right: 15px;
  top: 15px;
}*/
.modal.fade.login-modal.in {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.login-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-modal .modal-header {
  border-bottom: 0;
}
.login-modal .modal-dialog {
  width: 100%;
  margin: 0;
}
.login-modal .modal-body {
  width: 100%;
  display: inline-block;
  padding: 0;
}
.login-modal .modal-body h2.welcome {
  margin-top: 0;
  color: #1fa5ff;
  font-family: 'proxima_nova_rgbold';
}
.login-modal .modal-body h2.new {
  margin-top: 0;
  color: #534f70;
  font-family: 'proxima_nova_rgbold';
}
.welcome-block {
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
/*select box css */
.styled-select {
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 5px !important;
  overflow: hidden;
  position: relative;
}
.styled-select,
.styled-select select {
  width: 75%;
  margin: 0 auto;
  position: relative;
}
.styled-select .fa.fa-sort-desc {
  position: absolute;
  top: 5px;
}
select:focus {
  outline: none;
}
.styled-select select {
  height: 34px;
  padding: 8px 0 5px 10px;
  background: transparent;
  border: 1px solid #dbd8e0;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
}

@-moz-document url-prefix() {
  .styled-select select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector {
  .styled-select {
    background: none;
  }
}
.login-form input.form-control {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  border-radius: 0;
  text-align: center;
  border-color: #ebe8ec;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
}
.welcome-block label {
  color: #534f70;
  font-weight: normal;
  margin-bottom: 0;
}
.password-block label {
  float: left;
}
.login-form {
  margin-top: 35px;
}
.login-form input.btn-primary, .change-password .btn-primary, .signin-block .send-otp {
  background: #47d75c;
  border: 0;
  color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 35px;
}
.login-form input.btn-primary:focus, .login-form input.btn-primary:active, .login-form input.btn-primary:hover, .change-password .btn-primary, .send-otp:hover, .send-otp:active, .send-otp:focus {
  outline: 0 !important;
  background: #47d75c !important;
  color: #fff !important;
}
.new-block button.btn-default {
  background: #f9f7fa;
  border: 2px solid #47d75c;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #47d75c;
  font-family: 'proxima_nova_rgbold';
}
.heading-text {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 35px;
}
.new-text {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 25px;
}
.new-block {
  background: #f9f7fa;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  padding-top: 78px;
}
.signup-icon {
  margin-bottom: 40px;
}
.signup-image {
  margin-top: 30px;
  padding-bottom: 10px;
}
.new-block button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  background: #a6a3b5;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
}
.new-block button.close span {
  color: #fff;
}
.welcome-block button.close {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 1;
  background: #a6a3b5;
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 50%;
  display: none;
}
.welcome-block button.close span {
  color: #fff;
  display: none;
}
.user-patient-url a {
  text-decoration: underline;
}
/* user login css */
.login-container .select-role {
  width: inherit;
  margin: 0 auto;
}
.signin-block {
  height: 450px;
  display: inline-block;
  width: 100%;
}

/* kinecthuman dashboard css */
#content {
  background: #f6f6fa;
  width: 100%;
}
.heading h2 {
  color: #534f70;
  font-family: 'proxima_nova_condensedSBd';
  margin-top: 0;
}
#content .navbar {
  display: none;
}
.main-block {
  background: #fff;
  padding: 20px;
  width: 100%;
  display: inline-block;
  padding-bottom: 0;
}
.patient-blocks {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.patient-blocks span {
  font-size: 20px;
  font-family: 'proxima_nova_condensedSBd';
  text-transform: uppercase;
}
.patient-blocks .blocks {
  border-radius: 8px;
  padding: 30px 0 30px 0;
  position: relative;
}
.patient-blocks .blocks .patient-icons {
  position: absolute;
  top: 10px;
  left: 10px;
}
.patient-blocks .existing-patient {
  background: #e8f6ff;
}
.patient-blocks .new-patient {
  background: #fff4f1;
}
.patient-blocks .healthcare {
  background: #f6f6fa;
}
.dashboard-image {
  margin-top: 100px;
}
.dashboard-image img {
  width: 100%;
}
.button-block {
  width: 100%;
  text-align: right;
  background: #d8d5de;
  padding: 20px;
  margin-top: 30px;
}
.button-block .cancel-btn {
  border: 1px solid #47d75c;
  background: #fff;
  color: #47d75c;
  margin-right: 15px;
  padding-right: 25px;
  padding-left: 25px;
}
.button-block .submit-btn {
  border: 1px solid transparent;
  background: #47d75c;
  padding-right: 25px;
  padding-left: 25px;
}
.button-block .submit-btn:hover, .button-block .submit-btn:focus, .button-block .submit-btn:active {
  background: #47d75c !important;
  border: 1px solid transparent;
  outline: 0 !important;
}
.button-block input, .button-block button {
  font-size: 18px;
}
.disabled {
  cursor: not-allowed;
}
.disabled a {
  pointer-events: none;
}
.dashboard-block .main-block {
  background: #fff;
  padding: 20px 0px 0px 0px;
}
.dashboard-block .heading h2 {
  padding-left: 0;
}
.existing-table tr td {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
#lab_result_form label{
  font-weight: normal !important;
}
.simple_form.new_laboratory_result .input-group {
  float: right;
}
#lab_result_form .calender {
  padding: 0;
}
.lab-datepicker input.form-control {
  background: #fff !important;
}
.simple_form.new_laboratory_result .input-group-addon.calendar-icon {
  top: 8px;
  right: 25px;
  padding: 0 !important;
}
#lab_result_form .input-group-addon {
  background: #fff !important ;
  padding: 0;
  right: 25px;
  top: 8px;
}
.test-table td:last-child {
  text-align: right;
}
.new-patient .heading h2 {
  padding-left: 0;
}
.heading.profession h2{
  padding-left: 0;
}
/* Kinect Now transactions */

#content .transaction-main-block {
  background: #fff;
  padding: 20px;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.receive {
  color: #61bb46;
  font-weight: bold;
}
.receive img, .send img {
  margin-left: 5px;
}
.send {
  font-weight: bold;
  color: #e03a3e;
}
.transaction-table .table>thead>tr>th {
  border-bottom: 0;
  font-family: 'proxima_nova_condensedSBd';
  font-size: 18px;
}
.transaction-table .table>tbody>tr>td, .transaction-table .table>tbody>tr>th, .transaction-table .table>tfoot>tr>td, .transaction-table .table>tfoot>tr>th, .transaction-table .table>thead>tr>td, .transaction-table .table>thead>tr>th {
  border-top: 0;
  vertical-align: middle;
}
.transaction-table .table tr {
  background: #fff;
}
.transaction-table .table th {
  text-transform: uppercase;
  padding-bottom: 0;
}
.transaction-table .table thead tr {
  background: transparent;
}
.transaction-table .table-hover>tbody>tr:hover {
    background-color: #e8e9f4;
}
.transaction-table tr td a.btn-default {
  border-color: #5e5b7a;
  letter-spacing: 1px;
}
.transaction-table table {
  border-collapse: separate;
  border-spacing: 0px 10px;
}
.transaction-table tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.transaction-table tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: right;
  padding-right: 15px;
}
.transaction-table tr th:last-child {
  text-align: right;
}
.transaction-table .footable-row-detail-name {
  text-align: left;
}
.transaction-search {
  background: #e8e9f4;
  padding: 10px;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.transaction-search input {
  border: 0;
  height: 45px;
  background: #fff;
}
.transaction-search a.search-button {
  background: #1fa5ff;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  height: 45px;
  line-height: 45px;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\002b" !important;
  color: #1fa5ff;
}
.footable.breakpoint > tbody > tr > td > span.footable-toggle {
  font-family: 'Glyphicons Halflings' !important;
}
.footable.breakpoint > tbody > tr.footable-detail-show > td > span.footable-toggle:before {
  content: "\2212" !important;
}
.transaction-blocks {
  text-align: center;
  width: 100%;
  display: inline-block;
}
.transaction-blocks span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.transaction-blocks span.amount {
  font-weight: bold;
  font-size: 20px;
}
.transaction-blocks .blocks {
  border-radius: 8px;
  padding: 30px 0 30px 0;
  position: relative;
}
.transaction-blocks .blocks .patient-icons {
  position: absolute;
  top: 10px;
  left: 10px;
}
.transaction-blocks .received {
  background: #e8f6ff;
}
.transaction-blocks .withdraw {
  background: #fff4f1;
}
.transaction-blocks .balance {
  background: #f6f6fa;
}

@media(max-width: 767px) {
  .transaction-blocks .blocks {
    margin-bottom: 15px;
  }
  .transaction-search input {
    width: 100%;
    margin-bottom: 15px;
  }
}
/* End KinectNow transaction */

/*media queries */
@media(max-width: 767px) {
  .login-modal .modal-dialog {
    margin: 0;
  }
  .login-modal .container {
    padding: 0;
  }
  .welcome-block {
    width: 100%;
    padding: 0;
    padding-top: 20px;
  }
  .new-text {
    width: 100%;
  }
  .login-block {
    padding-bottom: 25px;
  }
  .welcome-block button.close {
    display: block;
  }
  .welcome-block button.close span {
    display: block;
  }
  .new-block button.close {
    display: none;
  }
  .new-block button.close span {
    display: none;
  }
  .modal.fade.login-modal.in {
    display: block !important;
  }
  #content {
    padding-top: 0;
  }
  #content .navbar.navbar-default {
    margin-bottom: 0;
  }
  .patient-blocks span {
    font-size: 16px;
  }
  .patient-icons img {
    width: 70%;
  }
  .patient-blocks .blocks .patient-icons {
    top: 10px;
    left: 0px;
  }
  .patient-blocks .blocks {
    margin-bottom: 15px;
  }
  .dashboard-image {
    margin-top: 20px;
  }
  .save-button {
    margin-bottom: 20px;
    text-align: center;
  }
  .login-container {
    display: inherit;
  }
  .heading-text {
    width: 100%;
  }
  .login-block {
    width: 100% !important;
  }
  .new-block {
    padding-top: 15px;
  }
  .button-block {
    text-align: center;
    padding: 20px 0;
  }
  .dashboard-block .main-block {
    padding: 20px;
  }
  .dashboard-block .heading h2 {
    padding-left: 20px;
  }
  #content.exist-block .heading h2 {
    padding-left: 20px !important;
  }
  .existing-table {
    padding: 10px;
  }
  #content.new-patient .heading h2 {
    padding-left: 0;
  }
  #content.new-patient #sidebarCollapse {
    margin-left: 0;
  }
  #lab_result_form .text-right {
    text-align: left !important;
  }
  .login-form input.btn-primary {
    margin-top: 15px;
  }
  .welcome-form {
    margin-top: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .welcome-block {
    width: 80%;
  }
  .new-text {
    width: 80%;
  }
  .wrapper #content .navbar {
    margin-bottom: 0;
  }
  #content {
    padding-top: 5px;
  }
  .patient-icons img {
    width: 80%;
  }
  .patient-blocks .blocks .patient-icons {
    left: 0;
  }
  .patient-blocks span {
    font-size: 17px;
  }
  .heading-text {
    width: 100%;
  }
  body .login-block {
    width: 100%;
  }
  .labtable-heading {
    padding: 20px;
  }
}
@media(min-width: 1000px) and (max-width: 1200px) {
  .patient-icons img {
    width: 70%;
  }
  .patient-blocks .blocks .patient-icons {
    left: 0;
  }
  .patient-blocks span {
    font-size: 18px;
  }
}

.login-block input:-webkit-autofill{
  background: none;
}
.login-block {
  display: inline-block;
  width: 50%;
}

.wrapper{
  display: -webkit-box;
}

.complete-btn, .complete-btn:hover, .heading .search-btn {
  background-color: #47d75c !important;
  border-color: #47d75c !important;
  margin-top: 15px;
  float: right;
}

@media(max-width: 1024px) {
  #content {
    width: 100%;
  }
}

.patient-block{
  display: none;
}
