.menu-tabs .nav-tabs {
  border: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.menu-tabs .nav-tabs li {
  margin: 0;
  padding: 0 12px;
  float: none;
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.menu-tabs .nav-tabs li a {
  float: left;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid #fff;
  float: none;
  display: inline-block;
  position: relative;
  padding: 0;
}
.menu-tabs {
  background: #534f70;
  width: 100%;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-tabs li.active a,.menu-tabs li.active a:focus {
   width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #fff;
}

.menu-tabs li h3 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2px 0;
  width: 100%;
}

.menu-tabs .nav-tabs li.active a:hover {
  background: #fff;
}

.menu-tabs li a:after {
  content: "";
  width: 50px;
  height: 2px;
  background: #fff;
  float: right;
  position: absolute;
  top: 8px;
  left: 30px

}

/*.menu-tabs .nav-tabs {
  border-bottom: 0;
}
.menu-tabs ul.nav {
  text-align: center;
  display: inline-block;
  width: 100%
}
.menu-tabs .nav-tabs>li.active>a, .menu-tabs .nav-tabs>li.active>a:focus, .menu-tabs .nav-tabs>li.active>a:hover {
  color: transparent;
  cursor: default;
  background-color: #fff;
  border: 2px solid transparent;
  border-bottom-color: transparent;
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.menu-tabs .nav-tabs>li:after {
  content: "";
  position: absolute;
  top: 0;
  height: 2px;
  background: #fff;
  width: 40%;
  left: 0;
}*/

.history a:after {
  width: 70px !important;
}

.history-content .profile a:after {
  width: 80px !important;
}

.messages a:after {
  width: 73px !important;
}

.treatment a:after {
  width: 88px !important;
}

.general a:after {
  width: 80px !important;
}

.laboratory a:after {
  width: 84px !important;
}

.lab-result a:after {
  width: 0px !important;
}

@media(min-width: 768px) and (max-width: 1024px) {
  .menu-tabs .nav-tabs li {
    padding: 0 0px;
  }
  .history a:after {
    width: 55px !important;
  }
  .profile a:after {
    width: 65px !important;
  }
  .treatment a:after {
    width: 70px !important;
  }
  .messages a:after {
    width: 57px !important;
  }
  .general a:after {
    width: 75px !important;
  }
  .laboratory a:after {
    width: 65px !important;
  }
}

@media (max-width: 767px) {
  .menu-tabs li a:after {
    display: none;
  }
  .menu-tabs .nav-tabs li {
    padding: 0;
    margin-top: 15px;
  }
  .menu-tabs .nav-tabs li a {
    width: 17px;
    height: 17px;
  }
  .menu-tabs li.active a, .menu-tabs li.active a:focus {
    width: 17px;
    height: 17px;
  }
}
