.treatment-heading {
  width: 100%;
  display: inline-block;
}
.treatment-heading p, .treatment-heading label {
  color: #47d75c;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  width: 100%;
}
.treatmentform-heading {
  width: 100%;
}
.treatmentform-heading p {
  color: #534f70;
  float: left;
  font-family: 'proxima_nova_rgbold';
  font-size: 18px;
  width: 100%;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 5px;
}

.treatment-form label {
  font-weight: normal;
}
#datepicker input {
  background: #fff;
}
.treatment-form input.form-control {
  height: 45px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.treatment-form label {
  font-weight: normal;
}
.treatment-form input.form-control {
  height: 45px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.treatment-form textarea {
  min-height: 120px;
  background: #fff;
  border: 1px solid #d8d5de;
}
.treatment-form {
  width: 100%;
  display: inline-block;
}
.treatments {
  letter-spacing: 1px;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 50px;
}
#content {
  padding: 20px;
}
.doctorid {
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.doctorid,
.doctorid select {
  width: 100%;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}
.doctorid .fa.fa-sort-desc {
  position: absolute;
  top: 10px;
  right: 20px;
}
select:focus {
  outline: none;
}
.doctorid select {
  padding: 0;
  background: transparent;
  border: 1px solid #d8d5de;
  /*hide default down arrow in webkit */
  -webkit-appearance: none;
  width: 100%;
  cursor: pointer;
  height: 45px;
  box-shadow: none;
  background: #fff;
  line-height: 40px;
  padding-left: 15px;
}

@-moz-document url-prefix() {
  .doctorid select {
    width: 110%;
  }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

select::-ms-expand {
  display: none;
} /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus,
.selector {
  .doctorid {
    background: none;
  }
}
.main-block {
  background: #f6f6fa;
}
.blank-div {
  width: 100%;
  height: 15px;
  display: inline-block;
  background: #fff;
}
