<!doctype html>
<html style="height: 100%">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Email</title>
    </head>
    <body style="margin: 0; padding: 0; height: 100%;font-family: sans-serif;">
      <div style="background: #f7f6fb; height: 100%; width: 100%;">
        <div style="background: #534f70; display: inline-block; width: 100%;">
          <div style="text-align: center;padding: 85px 0 135px 0;">
             <%= image_tag "#{root_url}/assets/mail-logo.png" %>
          </div>

        </div>
         <div style="background: #fff;padding: 35px 0px 20px 0px;color: #534f70; width: 600px;margin: 0 auto; position: relative;top: -70px;max-width: 100%;line-height: 25px;">
            <div style="font-size: 24px;text-align: center;">Hello <span style="color: #47d75c;"> <%= @resource.email %></span> </div>
            <p style="font-weight: bold;margin-top: 25px;font-size: 24px;text-align: center;">Welcome to the KinectHub</p>
            <p style="text-align: center;">
              <%= image_tag "#{root_url}/assets/kinect-icon.png" %>
            </p>
            <% if @resource.class.name == "User" %>
              <p style="text-align: center;font-weight: bold;font-size: 18px;">Your Healthcare Provider account has been created <br> in KinectHub.</p>
            <% else %>
              <p style="text-align: center;font-weight: bold;font-size: 18px;">Your account has been created for consultation <br> in KinectHub.</p>
            <% end %>
            <p style="text-align: center;font-size: 18px;">To process further please update your password <br> using following link. </p>
            <p style="text-align: center;margin-top: 50px;margin-bottom: 40px;">
              <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token), style: "background: #47d75c;color: #fff;padding: 10px 20px;border-radius: 4px;text-decoration: none;font-size: 18px;" %>
            </p>
            <p style="font-size: 16px;text-align: center;">Your password won't change until you access the link above <br> and create a new one.</p>
          </div>
          <p style="text-align: center;color: #534f70;font-size: 16px;margin-bottom: 0;position: relative;top: -40px;">Thanks!</p>
          <p style="text-align: center;font-weight: bold;color: #534f70;font-size: 16px;margin-top: 10px;position: relative;
          top: -40px;">Kinect Team</p>
    </div>
    </body>
</html>
