<div id="content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-primary navbar-btn">
          <i class="fa fa-bars"></i>
          <span>Toggle Sidebar</span>
        </button>
      </div>
    </div>
  </nav>
  <div class="heading">
    <h2>Transactions</h2>
  </div>
  <div class="main-block transaction-main-block" id="transaction-blocks" data-user-id="<%= current_user.id %>">
    <div class="transaction-blocks">
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="received blocks">
          <span class="patient-icons"><%= image_tag('received.png') %></span>
          <span class="amount"><span class="token"></span><sup>kct</sup></span> <br> <span>Received</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="withdraw blocks">
          <span class="patient-icons"><%= image_tag('withdraw.png') %></span>
          <span class="amount">0<sup>kct</sup></span> <br> <span>Withdraw</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 resp-pad">
        <div class="balance blocks">
          <span class="patient-icons"><%= image_tag('balance.png') %></span>
          <span class="amount"><span class="token"></span><sup>kct</sup></span> <br> <span>Balance</span>
        </div>
      </div>
    </div>
  </div> <!-- container -->
  <div class="transaction-table table-responsive">
    <table class="table table-hover footable" id="transactions-body">
      <thead>
        <tr>
          <th>#</th>
          <th>Description</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <% @distribution_overviews.each_with_index do |distribution, i| %>
          <tr>
            <td class='index'><%= i+1 %></td>
            <td class='description'><%= distribution.description %></td>
            <td class='date'><%= distribution.updated_at.strftime("%m/%d/%Y") %></td>
            <td class="receive">
              <span class="kct-token"><%= distribution.token %></span> KCT
              <% if distribution.transaction_type.eql?("SENT") %>
                <%= image_tag('send.png') %>
              <% else %>
                <%= image_tag('receive.png') %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div> <!-- existing table -->
  <%= paginate @distribution_overviews %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    if (checkMetamaskWeb3()) {
      const kinectContractAbi = gon.contract_abi;
      const kinectContract = web3.eth.contract(kinectContractAbi);
      const kinectAddress = gon.contract_addresss;
      const kinectContractInstance = kinectContract.at(kinectAddress);
      let account = "";
      if("<%= current_user.aid? %>" == "true"){
        account = web3.eth.accounts[0];
      } else {
        account = "<%= current_user.wallet_address %>"
      }
      kinectContractInstance.balanceOf(account, (err, res2) => {
        let obj = err ? null : { balance: res2.toNumber() };
        let balance = obj.balance/1e18
        $('.token').text(balance);
      });
    }
    App.transactions = App.cable.subscriptions.create({
        channel: "TransactionsChannel",
        user_id: "<%= current_user.id %>"
      },
      {
        received: function(data) {
          let overview = data.overview
          if(typeof overview != 'undefined'){
            location.reload();
          }
        }
      }
    )
})
</script>
