<!doctype html>
<html>
  <head>
    <title>KinectHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", media: "screen", type: "text/css" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/footable.js' %>
    <%= action_cable_meta_tag %>
  </head>

  <% if user_signed_in? %>
    <body>
      <%= include_gon %>
      <%= render 'layouts/shared/header' %>
      <div class="wrapper">
        <%= render 'layouts/shared/sidebar' %>
        <%= render 'layouts/shared/flash_messages' %>
        <%= yield %>
      </div>
    </body>
  <% elsif patient_signed_in? %>
    <body>
      <%= include_gon %>
      <%= render 'layouts/shared/header' %>
      <%= render 'layouts/shared/flash_messages' %>
      <%= yield %>
    </body>
  <% else %>
    <%= render 'layouts/shared/flash_messages' %>
    <%= yield %>
  <% end %>
</html>
